
{% load widget_tweaks %}

{% if form.errors %}
  <div class="alert alert-danger col-lg-12">
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% for field in form %}
  {% if field.errors %}
    <div class="form-group has-error">
        <label class="control-label mr-1" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="mr-5">
            {{ field|attr:"class:form-control" }}
            <span class="help-block">
                {% for error in  field.errors %}{{ error }}{% endfor %}
            </span>
        </div>
    </div>
  {% else %}
    <label class="control-label mr-1" for="id_{{ field.name }}">{{ field.label }}</label>
    <div class="mr-5">
        {{ field|attr:"class:form-control" }}
    </div>
  {% endif %}
{% endfor %}
