{% if project_tasks %}


<div class="flex-column list-group">
  {% for task in project_tasks %}
      <a class="list-group-item list-group-item-action {% if task == project_task %}active{% endif %}"
         href="{% url 'dssgmkt:proj_task' project.id task.id %}">{{ task.name }}</a>
  {% endfor %}
</div>

{% endif %}

{% load rules %}
{% has_perm 'project.task_edit' user project as user_is_task_editor %}
{% if user_is_task_editor %}
  <div class="section-header row">
    <div class="col-lg-12">
      <form id="addtask">
        {% csrf_token %}
        <button type="submit"
                form="addtask"
                formaction="{% url 'dssgmkt:proj_task_add' project.id %}"
                formmethod="post"
                class="btn btn-success col-lg-12">
            <i class="material-icons" style="vertical-align: middle">add_circle</i>
            Add new task
        </button>
      </form>
    </div>
  </div>
{% endif %}
