
{% if page_tab == 'info' %}
  Project information
{% else %}
  <a href="{% url 'dssgmkt:proj_info' project.id %}">Project information</a>
{% endif %}

{% if page_tab == 'discussion' %}
  Discussion
{% else %}
  <a href="{% url 'dssgmkt:proj_discussion' project.id %}">Discussion</a>
{% endif %}

{% if page_tab == 'tasklist' %}
  Tasks
{% else %}
  <a href="{% url 'dssgmkt:proj_task_list' project.id %}">Tasks</a>
{% endif %}

{% if page_tab == 'deliverables' %}
  Deliverables
{% else %}
  <a href="{% url 'dssgmkt:proj_deliverables' project.id %}">Deliverables</a>
{% endif %}

{% if page_tab == 'log' %}
  Changelog
{% else %}
  <a href="{% url 'dssgmkt:proj_log' project.id %}">Changelog</a>
{% endif %}

{% if page_tab == 'staff' %}
  Staff
{% else %}
  <a href="{% url 'dssgmkt:proj_staff' project.id %}">Staff</a>
{% endif %}

{% if page_tab == 'volunteers' %}
  Volunteers
{% else %}
  <a href="{% url 'dssgmkt:proj_volunteers' project.id %}">Volunteers</a>
{% endif %}

{% if page_tab == 'instructions' %}
  Volunteer instructions
{% else %}
  <a href="{% url 'dssgmkt:proj_instructions' project.id %}">Volunteer instructions</a>
{% endif %}
