<span title="{{ object.skill.area }}/{{ object.skill.name }} : {% if object.is_level_beginner %}Beginner{% elif object.is_level_intermediate %}Intermediate{% elif object.is_level_expert %}Expert{% endif %}">
  {% include 'dssgmkt/components/skill_display.html' with skill=object.skill %}
  {% if object.is_level_beginner %}
    <i class="fas fa-thermometer-empty text-warning"></i>
  {% elif object.is_level_intermediate %}
    <i class="fas fa-thermometer-half text-info"></i>
  {% elif object.is_level_expert %}
    <i class="fas fa-thermometer-full text-success"></i>
  {% endif %}
</span>
