
{% load widget_tweaks %}

{% if form.errors %}
  <div class="alert alert-danger">
    <p>
    {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
    </p>
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% for field in form %}
  {% if field.errors %}
    <div class="form-group row">
        <label class="{% if wide_field_names %}col-sm-6{% else %}col-sm-3{% endif %} control-label text-danger"
               for="id_{{ field.name }}">
          {{ field.label }}
        </label>
        <div class="{% if wide_field_names %}col-sm-6{% else %}col-sm-9{% endif %}">
            {{ field|attr:"class:form-control is-invalid" }}
            <div class="invalid-feedback">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </div>
        </div>
    </div>
  {% else %}
    <div class="form-group row">
      <div class="{% if wide_field_names %}col-sm-6{% else %}col-sm-3{% endif %}">
        <label class="control-label"
               for="id_{{ field.name }}">
          {{ field.label }}
        </label>
        <div class="form-text text-muted help-block">
          <small>
            {{ field.help_text|safe }}
          </small>
        </div>
      </div>
      <div class="{% if wide_field_names %}col-sm-6{% else %}col-sm-9{% endif %}">
          {{ field|attr:"class:form-control" }}
      </div>
    </div>
  {% endif %}
{% endfor %}
