
{% load widget_tweaks %}

{% if form.errors %}
    <p>
    {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
    </p>
    <ul>
      {% for error in form.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
{% endif %}

{% for field in form %}
  {% if field.errors %}
    <div class="form-group row has-error">
        <label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="col-sm-9">
            {{ field|attr:"class:form-control" }}
            <span class="form-text help-block">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </span>
        </div>
    </div>
  {% else %}
    <div class="form-group row">
      <div class="col-sm-3">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <p class="form-text text-muted help-block"><small>{{ field.help_text|safe }}</small></p>
      </div>
      <div class="col-sm-9">
          {{ field|attr:"class:form-control" }}
      </div>
    </div>
  {% endif %}
{% endfor %}
