<div><input type="checkbox" name="preferences" id="scope" value="scoping" class="mr-2" {% if has_scoping_preference %}checked{% endif %}></input><label for="scope">Project Scoping</label></div>
<div><input type="checkbox" name="preferences" id="pmgm" value="management" class="mr-2" {% if has_project_management_preference %}checked{% endif %}></input><label for="pmgm">Project Management</label></div>
<div><input type="checkbox" name="preferences" id="datascience" value="domainwork" class="mr-2" {% if has_domain_work_preference %}checked{% endif %}></input><label for="datascience">Data Science</label></div>
<div><input type="checkbox" name="preferences" id="qa" value="qa" class="mr-2" {% if has_qa_preference %}checked{% endif %}></input><label for="qa">Review/QA</label></div>
