
  <div class="status-component col-lg-12 border-round round-top border-light mt-3 mb-3">
    {% if not task.is_completed and not task.is_draft %}
      <div class="status-description col-lg-12 {% if task.accepting_volunteers %}bg-success{% else %}bg-warning{% endif %} text-white rounded-left rounded-right">
        {% if task.accepting_volunteers %}
          This task is accepting volunteers.
        {% else %}
          This task is not accepting volunteers.
        {% endif %}
      </div>
    {% endif %}

    <div class="status-row col-lg-12 border-top rounded-left rounded-right">
      {% if task.is_draft %}
        <span class="status status-active bg-danger border-bottom rounded-left">
          <span>
            <i class="fas fa-drafting-compass"></i>
            Draft
          </span>
        </span>
      {% endif %}
      <span class="status {% if task.is_not_started %}status-active{% endif %} border-bottom rounded-left">
        {% if task.is_draft %}
          {% include 'dssgmkt/components/status_chevron.html' %}
        {% endif %}
        <span>
          <i class="completed-icon material-icons" style="vertical-align: middle">check</i>
          <i class="ongoing-icon fas fa-gift"></i>
          New
        </span>
      </span>
      <span class="status {% if task.is_in_progress %}status-active{% endif %} border-bottom">
        {% include 'dssgmkt/components/status_chevron.html' %}
        <span>
          <i class="completed-icon material-icons" style="vertical-align: middle">check</i>
          <i class="ongoing-icon fas fa-tasks"></i>
          In progress
        </span>
      </span>
      <span class="status {% if task.is_pending_review %}status-active{% endif %} border-bottom">
        {% include 'dssgmkt/components/status_chevron.html' %}
        <span>
          <i class="completed-icon material-icons" style="vertical-align: middle">check</i>
          <i class="ongoing-icon fas fa-award"></i>
          Task QA
        </span>
      </span>
      <span class="status {% if task.is_completed %}status-active bg-success{% endif %} border-bottom rounded-right border-right">
        {% include 'dssgmkt/components/status_chevron.html' %}
        <span><i class="material-icons final" style="vertical-align: middle">done_all</i>Completed</span></span>
    </div>

  <div class="status-description col-lg-12 bg-primary text-white {% if task.is_completed %} bg-success{% elif task.is_draft %}bg-danger{% endif %} rounded">
    {% if task.is_not_started %}
      This task has not started
    {% elif task.is_in_progress %}
      Volunteers are working on this task
    {% elif task.is_pending_review %}
      This task is pending the QA review
    {% elif task.is_completed %}
      This task is completed
    {% elif task.is_draft %}
      This task is in draft status
    {% endif %}
  </div>

</div>
