{% if project_tasks %}

<div class="flex-column list-group">
  {% for task in project_tasks %}
      <a class="d-flex list-group-item list-group-item-action {% if task == project_task %}active{% endif %}"
         href="{% url 'dssgmkt:proj_instructions_task' project.id task.id %}">
         <span class="mr-auto">
           {% include 'dssgmkt/components/task_type_display.html' with project_task=task compact_display=True %}
           {{ task.name }}
         </span>
         <span>
           {% include 'dssgmkt/components/task_stage_display.html' with project_task=task compact_display=True %}
         </span>
       </a>
  {% endfor %}
</div>
{% endif %}
