
.marketing-header {
  background-color: #2C3E50;
}

.main-page-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.marketing-header {
  padding-top: 25px;
  padding-bottom: 50px;
}

@media (min-width: 992px) {
  .marketing-header {
    padding-top: 75px;
  }
}

h1, h2, h3 {
  font-weight: 200;
}

.marketing-header h1 {
  text-transform: uppercase;
}

@media (max-width: 992px){
  .marketing-header h1, .marketing-header h2 {
    text-align: center;
  }
}

.marketing-header h2 {
  font-size: 2em;
}

.main-text {
  font-size: 1.4em;
}
.action-links h2 {
  font-weight: 400;
  font-size: 1.5em;
}
.card-deck {
  margin: 0px;
}

.main-cards .card .footer-title {
  text-transform: uppercase;
  font-size: 0.9em;
}

.main-cards .card  a {
  color: white;
  font-size: 1.3em;
}

.card  a {
  text-transform: uppercase;
}

.card  ul {
  height: 100%;
}

.featured h5 {
  text-transform: uppercase;
  font-size: 0.9em;
}

.featured h4 {
  font-size: 1.2em;
  font-weight: normal;
}

.featured {
  height: 100%;
}

.featured .last {
  margin-bottom: auto;
}

.featured .itemlink {
  text-transform: none;
}

.card-header {
  background-color: #2C3E50;
}

.alert {
  border-radius: 0;
  margin: 0;
  text-align: center;
  padding: 0.75rem 9.25rem;
}

.marketing-secondary {
  background-color: #F3DA12;
}

.call-special {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: -3%;
  padding-left: 1%;
}
.call-special a {
  text-decoration: underline;
  color: inherit;
}
.call-special .material-icons {
  vertical-align: middle;
  font-size: 4rem;
}

.platform-stat {
  color: #2c3e50;
}
.platform-stat .material-icons {
  vertical-align: middle;
  font-size: 3rem;
  padding-right: 0.5rem;
  float: left;
}
