{% extends 'marketplace/base.html' %}

{% block pagecontents %}

<div class="px-2">

<h2>Privacy Policy</h2>

<p><strong>Effective Date / Last Updated: August 4, 2020</strong></p>

<p>
This Privacy Policy (<q><strong>Policy</strong></q>) describes the Personal Information collected by or on behalf of Data Science For Social Good d/b/a Solve For Good (<q><strong>Solve For Good</strong>,</q> <q><strong>we</strong>,</q> <q><strong>us</strong>,</q> or <q><strong>our</strong></q>) through the website <a href="https://www.solveforgood.org/">www.solveforgood.org</a> and its services (collectively, the <q><strong>Services</strong></q>), and how Personal Information is used, protected and shared. If you have questions or concerns about this Policy, please contact us as set forth below.
</p>

<p>
<strong>Privacy laws and guidelines are part of a constantly changing environment. We reserve the right, at our discretion, to change, modify, add, or remove portions of this Policy at any time. All changes will be effective immediately upon posting to the website. Material changes will be conspicuously posted on the website or otherwise communicated to you. You are responsible for reviewing this Policy periodically to ensure that you are aware of our current privacy practices.</strong>
</p>

<p>
If you use the Services, you must comply with our <a href="{% url terms_url %}">Term of Use</a> (<q><strong>Terms</strong></q>).
</p>

<h4>We Collect Data You Provide</h4>

<p>
<strong>Personal Information.</strong> You can visit the Services without submitting Personal Information. If you elect to provide data that personally identifies you (<q><strong>Personal Information</strong></q>) such as your name, e-mail address, and phone number, we will collect, use, and share such Personal Information pursuant to this Policy and applicable law.
</p>

<p>
Personal Information is required to use certain features of the Services, for example, to create an online account and sign up as a Solve For Good organization member or volunteer, contact us via e-mail, phone, or our Contact Us form (where we may retain your message's content and our response), and respond to communications from us (<em>e.g.</em>, surveys).
</p>

<p>
<strong>Accounts.</strong> To create an online account and sign up as a Solve For Good organization member or volunteer, you must submit your name and e-mail address, and create a password. This data is used to populate a profile within your account.
</p>

<p>
<strong>Marketing Communications; Email Opt-Out.</strong> If you provide your e-mail address to us, you understand that we may send you e-mails, including marketing e-mails. We may use third-party providers to deliver communications to you. You may opt-out of marketing e-mails by using the unsubscribe link in the e-mail or contacting us at <a href="mailto:info@solveforgood.org">info@solveforgood.org</a> with <q>Unsubscribe</q> in the subject line. To opt out of other communications (<em>e.g.</em>, postal marketing and telemarketing), please contact us as set forth below. Opting out of marketing communications does not opt you out of communications about your account or transactions.
</p>

<p>
<strong>Feedback.</strong> When you provide comments or feedback about our Services, the content on the Services, or our services (<q><strong>Feedback</strong></q>), we will not treat that Feedback as confidential and we may use that Feedback for any purpose in our sole discretion so long as it does not personally identify you. Feedback will be used without attribution or compensation to you.
</p>

<h4>Data Automatically Collected</h4>

<p>
<strong>Account Activity.</strong> We may collect data about how you use (i) your online account, and (ii) the website when you are logged into your account.
</p>

<p>
<strong>Cookies &amp; Other Tracking Technologies.</strong>
</p>

<p>
<em>What types of online tracking mechanisms do we use?</em> We may use cookies, web beacons, pixel tags and other tracking technologies (collectively <q><strong>Cookies</strong></q>) on our website.
</p>

<p>
<em>What are cookies and web beacons / pixel tags?</em> A cookie is a small text file that our website saves onto your computer or device when you use the website that provides us certain information about your activities. Cookies allow the website to remember your actions and preferences and recognize you or your browser, along with some information you provided. Web beacons / pixel tags are small graphics on a webpage that monitor your activity when viewing a webpage.
</p>

<p>
<em>Why do we collect Cookies?</em> We use Cookies to:
</p>

<ul>
<li>make our website function properly;</li>
<li>provide personalized experiences;</li>
<li>tailor our interactions with you;</li>
<li>help with our marketing efforts;</li>
<li>provide us with valuable data and statistics about the usage and effectiveness of our website; and to help us improve our Services.</li>
</ul>

<p>
<em>What type of information do Cookies collect?</em> The Cookies on our website may collect information such as:
</p>

<ul>
<li>IP addresses assigned to the computers and other devices you use;</li>
<li>your internet service provider;</li>
<li>device ID number;</li>
<li>approximate geographic location;</li>
<li>browser type;</li>
<li>website pages visited;</li>
<li>websites you access before and after visiting our website, and</li>
<li>data related to how and when you use the website.</li>
</ul>

<p>
We may combine information from Cookies with other Personal Information.
</p>

<p>
<em>How long do Cookies last?</em> A Cookie can either be a <q>session</q> Cookie or a <q>persistent</q> Cookie. Session Cookies exist only for so long as you are visiting the applicable website and are typically deleted when you exit your web browser. Persistent Cookies exist for a set period of time, for example, up to several months or years. Each time you visit a website that has implemented a persistent Cookie, the persistent Cookie is renewed and that Cookie will remain active until its predetermined expiration date. You can manually delete persistent Cookies through your browser settings.
</p>

<p>
<em>First and Third-party Cookies.</em> Cookies may either be <q>first-party</q> or <q>third-party</q> Cookies. A first-party Cookie allows your web browser to talk to the actual website that you are visiting (<em>i.e</em>. our website). A third-party Cookie allows your web browser to talk to a third-party website, such as the source of an ad that appears on the website you are visiting or a third-party analytics provider. We may not have control over how a third-party uses information collected through third-party Cookies.
</p>

<p>
<em>How do you manage Cookies or opt-out?</em> Most browsers automatically accept cookies. You can disable this function by changing your browser settings, but disabling cookies may impact your use and enjoyment of the website. Not all features or functions of the website may work properly if you disable Cookies. You cannot disable all Cookies, such as Cookies that are essential to the functioning of the website.
</p>

<p>
<strong>California's <q>Do-Not-Track</q> Requirement. We currently do not honor <q>do not track</q> requests.</strong>
</p>

<p>
<em>Google Analytics.</em> We use Google Analytics to collect and process information about your use of the website. Google sets cookies on your browser or device, and then your web browser will automatically send information to Google. Google uses this information to provide us with reports that we use to better understand and measure how users interact with our website.
</p>

<p>
We may also implement additional add-on services to Google Analytics, such as Demographics and Interest Reporting and Google Display Network Impression Reporting.
</p>

<p>
To learn more about how Google uses data, visit <a href="http://www.google.com/policies/privacy" target="_blank">Google's Privacy Policy</a> and Google's page on <q><a href="http://www.google.com/policies/privacy/partners" target="_blank">How Google uses data when you use our partners' sites or apps</a>.</q> You may download the <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Google Analytics Opt-out Browser Add-on</a> for each web browser you use, but this does not prevent the use of other analytics tools. To learn more about Google Analytics cookies, visit <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">Google Analytics Cookie Usage on Websites</a>.
</p>

<h4>How We Use Personal Information</h4>

<p>
We use Personal Information for the following purposes:
</p>

<p>
<strong>As Stated or Agreed to at the Point of Collection</strong>. We may use Personal Information for the purposes stated or agreed-to (or as is obvious) at the point of collection. For example, we use Personal Information to respond to your questions, comments, or complaints. We may also use Personal Information as requested or consented to by you.
</p>

<p>
<strong>Administration</strong>. We use Personal Information for administrative purposes, such as managing your accounts, to inform our business strategies, and to understand the Service's demographics and user preferences.
</p>

<p>
<strong>Site Management</strong>. We use Personal Information for website management, such as troubleshooting problems, improving the content and functionality of the website, statistical and other analyses of the website, and to customize the website to you and our users.
</p>

<p>
<strong>Advertising and Communications</strong>. We may use Personal Information to send you promotions or to perform targeted advertising, to notify you of new services or programs, to notify you of new features of our Services, to notify you of changes to our Terms or this Policy, and for other similar communications.
</p>

<p>
<strong>To Protect Our Rights</strong>. We may use Personal Information to protect our legal rights or interests, or those of other parties, including to bring a legal action against you or anyone who may be causing harm to us, our Services, or to other users of the Services. We may also use Personal Information to seek business, financial or legal advice, and to respond to other legal requests.
</p>

<h4>Retention of Personal Information</h4>

<p>
We will keep Personal Information for the period necessary to fulfil the purposes described in this Policy, unless a longer retention period is permitted or required by law.
</p>

<h4>Disclosure of Personal Information</h4>

<p>
We do not sell, rent or lease Personal Information to any third party. We may share Personal Information with the following parties, in compliance with applicable laws:
</p>

<p>
<strong>Employees and Affiliates.</strong> We may share Personal Information with our employees and affiliates who have a need to know the information for our business purposes.
</p>

<p>
<strong>Third-Parties and/or Service Providers.</strong> We may share Personal Information with third parties and/or service providers that provide services for us. We have contracted with our service providers to protect any such Personal Information. For example, we may share Personal Information with vendors to help us host and manage our website; provide targeted advertising and other marketing; improve the content and functionality of the website; perform data analysis and statistical analysis; troubleshoot problems with the website; provide e-mail services; provide data processing; and support or provide the security of the website.
</p>

<p>
<strong>Government Officials / Law Enforcement.</strong> We will cooperate with law enforcement and other governmental agencies, and may disclose Personal Information: (i) if we believe in good faith we are legally required to disclose that Personal Information, (ii) if we are advised to disclose Personal Information by our legal counsel, or (iii) when necessary to identify, contact or bring a legal action against someone who may cause or be causing harm to, or interfering with the legal rights of, Solve For Good or any other party.
</p>

<p>
<strong>Professional Advisors.</strong> We may share Personal Information with our professional advisors, such as our attorneys, accountants, financial advisors and business advisors, in their capacity as advisors to Solve For Good.
</p>

<p>
<strong>Change in Ownership.</strong> In the event Solve For Good is the subject of a change of control or in the event the Services change ownership, in whole or in part, or in the event of a bankruptcy, receivership or a similar transaction, we may provide Personal Information to the subsequent owner(s).
</p>

<p>
<strong>Other.</strong> We may share Personal Information with third parties when explicitly requested by or consented to by you, or for the purposes for which you disclosed the Personal Information to us as indicated at the time and point of the disclosure (or as was obvious at the time and point of disclosure).
</p>

<h4>Use and Disclosure of Non-Personal Information</h4>

<p>
Solve For Good may collect, use, share, transfer and otherwise process de-identified and aggregated information that it receives or creates for any purposes in its sole discretion, in compliance with applicable laws. Solve For Good is the sole and exclusive owner of such de-identified and aggregated information, including if Solve For Good de-identifies Personal Information so that it no longer considered Personal Information under applicable laws.
</p>

<h4>Information We Do Not Intend to Collect</h4>

<p>
<strong>Sensitive Information.</strong> <q><strong>Sensitive Information</strong></q> is any data that reveals your racial or ethnic origin, political opinions, religious or philosophical beliefs, or trade union membership, or that involves genetic or biometric data or data concerning health or sexual orientation. We do not intend to collect any Sensitive Data from you. Please do not provide Sensitive Data to us.
</p>

<p>
<strong>Children's Information</strong>. The Services are not directed at children under 13 years of age. We do not knowingly collect, use, or share Personal Information from children under 13. If a parent or legal guardian learns that their child provided us with Personal Information without his or her consent, please contact us and we will make commercially reasonable attempts to delete such Personal Information.
</p>

<h4>Data Security</h4>

<p>
We use commercially reasonable technical and organizational measures to help secure Personal Information against loss, misuse, and alteration appropriate to the type of Personal Information processed. If a breach of your Personal Information occurs, we will notify you of the breach if required under applicable law.
</p>

<p>
You understand that no data transmission over the internet or device can be guaranteed to be 100% secure. While we strive to protect Personal Information, we do not guarantee the security of Personal Information and you provide Personal Information at your own risk.
</p>

<h4>Access from Outside the United States</h4>

<p>
If you access the Services from outside the United States, please be aware that Personal Information may be transferred to, stored in, and processed in the United States. Certain governmental authorities may not consider the level of protection of Personal Information in the United States to be equivalent to that required by the in other jurisdictions.
</p>

<h4>Third-Party Websites</h4>

<p>
The Services may link to, or be linked to, websites not controlled by us. We are not responsible for third-parties' privacy policies or practices. This Policy does not apply to any third-party websites or to any data that you provide to third parties. You should read the privacy policy for each website that you visit.
</p>

<h4>Access &amp; Update Your Personal Information</h4>

<p>
To access or update your Personal Information as it exists in our records, please visit your account or contact us using the information below.
</p>

<h4>California Residents</h4>

<p>
Pursuant to California Civil Code Section 1798.83, if you are a California resident, you have the right to obtain: (a) a list of all third parties to whom we may have disclosed your Personal Information within the past year for direct marketing purposes, and (b) a description of the categories of Personal Information disclosed, by e-mailing us at <a href="mailto:info@solveforgood.org">info@solveforgood.org</a>.
</p>

<h4>Contact Us</h4>

<p>
If you have questions or concerns regarding this Policy, contact us at:
</p>

<address>
  Data Science For Social Good d/b/a Solve For Good<br>
  Eerste Jan Steenstraat 84 AIII/ 1072 NP Amsterdam/ The Netherlands<br>
  <a href="mailto:info@solveforgood.org">info@solveforgood.org</a>
</address>

</div>

{% endblock %}
