@media (min-width: 992px) {

  #dssglogo {
    position: absolute;
    top: 0;
    padding: 0px;
    width: 100px;
  }

  #dssglogo img {
    width: 100px;
    height: 100px;
  }

  .navbar-padder {
      width: 120px;
  }

}
@media (max-width: 992px) {
  #dssglogo {
    padding: 0px;
    width: 60px;
    height: 60px;
  }

  #dssglogo img {
    width: 60px;
    height: 60px;
  }

  .navbar-padder {
      display: none;
  }
}

.navbar {
  text-transform: uppercase;
}

.section-header {
  margin-top: 25px;
}

.main-page-container {
  padding-bottom: 50px;
}

.btn i {
  float: left;
  margin-right: 5px;
}

fieldset legend {
  font-size: 1.3em;
}

.normal-link {
  font-weight: normal;
}
