@media (min-width: 992px) {

  #dssglogo {
    position: absolute;
    top: 0;
    padding: 0px;
    width: 100px;
  }

  #dssglogo img {
    width: 100px;
    height: 100px;
  }

  .navbar-padder {
      width: 120px;
  }

}
@media (max-width: 992px) {
  #dssglogo {
    padding: 0px;
    width: 60px;
    height: 60px;
  }

  #dssglogo img {
    width: 60px;
    height: 60px;
  }

  .navbar-padder {
      display: none;
  }
}

.navbar {
  text-transform: uppercase;
}

.section-header {
  margin-top: 25px;
}

.main-page-container {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.btn i {
  float: left;
  margin-right: 5px;
}

fieldset legend {
  font-size: 1.3em;
}

.normal-link {
  font-weight: normal;
}

.read-alert-outer {
  padding: 1px;
}

.read-alert-inner {
  padding: 0.75rem 1.25rem;
  margin-left: 20px;
  color: black;
}

.status-component {
  padding: 0px;
}

.status-row {
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.status {
  background-color: #2C3E50;
  color: white;
  padding: 5px;
  flex: 1;
  text-align:  center;
  padding: 0px;
  position: relative;
}

.status span {
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
}

.status-active ~ .status span i{
  display: none;
}
.status-active span i{
  display: none;
}
.status-active i.final{
  display: inherit !important;
}

.svgdiagnoal {
  height: 100%;
  left: 0px;
  position: absolute;
}

.svgdiagnoal polygon {
  fill: #2C3E50;
}

.status-active ~ .status .svgdiagnoal polygon {
  fill: white;
}
.status-active + .status .svgdiagnoal polygon {
  fill: #80a415;
}
.status-active.bg-danger + .status .svgdiagnoal polygon {
  fill: #E74C3C;
}

.status-active ~ .status {
  background-color: white;
  color: black;
}

.status-description {
  padding: 5px;
  text-align:  center;
}
