@media (min-width: 992px) {

  #dssglogo {
    position: absolute;
    top: 0;
    padding: 0px;
    width: 100px;
  }

  #dssglogo img {
    width: 100px;
    height: 100px;
  }

  .navbar-padder {
      width: 120px;
  }

}
@media (max-width: 992px) {
  #dssglogo {
    padding: 0px;
    width: 60px;
    height: 60px;
  }

  #dssglogo img {
    width: 60px;
    height: 60px;
  }

  .navbar-padder {
      display: none;
  }
}

body {
  background-color: #cfd9db;
}

.navbar {
  text-transform: uppercase;
}

.section-header {
  margin-top: 25px;
}

.main-page-container {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: white;
  min-height: 100vh;
}

.btn i {
  float: left;
  margin-right: 5px;
}

fieldset legend {
  font-size: 1.3em;
}

.normal-link {
  font-weight: normal;
}

.read-alert-outer {
  padding: 1px;
}

.read-alert-inner {
  padding: 0.75rem 1.25rem;
  margin-left: 20px;
  color: black;
}

.status-component {
  padding: 0px;
}

.status-row {
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.status {
  background-color: #a0c455;
  color: #dddddd;
  padding: 5px;
  flex: 1;
  text-align:  center;
  padding: 0px;
  position: relative;
}

.status-active {
  background-color: #2C3E50;
  font-weight: bold;
  color: white;
}

.status span {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
}

.ongoing-icon {
  display: none !important;
}

.status-active ~ .status span .completed-icon {
  display: none;
}

.status-active ~ .status span .ongoing-icon {
  display: inherit !important;
}
.status-active span .completed-icon{
  display: none;
}
.status-active span .ongoing-icon{
  display: inherit !important;
}
.status-active i.final{
  display: inherit !important;
}

.svgdiagonal {
  height: 100%;
  left: 0px;
  position: absolute;
}

.svgdiagonal polygon {
  fill: #a0c455;
}

.status-active ~ .status .svgdiagonal polygon {
  fill: white;
}

.status-active + .status .svgdiagonal polygon {
  fill: #2C3E50;
}

.status-active.bg-danger + .status .svgdiagonal polygon {
  fill: #E74C3C;
}

.status-active ~ .status {
  background-color: white;
  color: black;
}

.status-description {
  padding: 5px;
  text-align:  center;
}


.badge-basic {
  /* color: #cec654 */
  color: #ffb666;
}

.badge-advanced {
  /* color: #59b5d6 */
  color: #afb9c6;
}

.badge-master {
  /* color: #6e1ca0 */
  color: #ffe20c;
}

.volunteer-highlight .title {
  text-transform: uppercase;
  font-size: 0.6em;
}

.volunteer-highlight .text {
  font-style: italic;
  font-size: 0.8em;
}

.volunteer-highlight .blockquote-footer {

}


.skills-header {
  /* font-weight: bold; */
  text-transform: uppercase;
}

.requirement-editor-control {
  pointer-events: all;
  opacity: 0;
  cursor: pointer;
}
.requirement-editor-control-active {
  opacity: 1;
}
.requirement-editor-control:hover {
  opacity: 0.5;
}



.card-header {
  background-color: #517293;
  color: white;
}

.ui-datepicker {
    background-color: #fff;
    border: 1px solid #66AFE9;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
    display: none;
    margin-top: 4px;
    padding: 10px;
    width: 280px;
    font-size: 14px !important;
}

.ui-datepicker a,
.ui-datepicker a:hover {
    text-decoration: none;
}

.ui-datepicker a:hover,
.ui-datepicker td:hover a {
    color: #2A6496;
    -webkit-transition: color 0.1s ease-in-out;
       -moz-transition: color 0.1s ease-in-out;
         -o-transition: color 0.1s ease-in-out;
            transition: color 0.1s ease-in-out;
}

.ui-datepicker .ui-datepicker-header {
    margin-bottom: 4px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: pointer;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 40px;
    color: #999;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}

.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
    width: 100%;
}

.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
    padding: 4px 0;
    color: #000 !important;
}

.ui-datepicker .ui-datepicker-calendar td {
    border-radius: 4px;
    -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
       -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
         -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.ui-datepicker .ui-datepicker-calendar td:hover:not(.ui-datepicker-current-day) {
    background-color: #eee;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
    color: #000;
}

.ui-datepicker .ui-datepicker-current-day {
    background-color: #285e8e;
    /* background-color: #4289cc; */
}

.ui-datepicker td.ui-datepicker-current-day a {
    color: #fff;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}

.ui-datepicker-month {
    border: 0px;
    color: #000;
}
.ui-datepicker-year {
    border: 0px;
    color: #000;
}
