

.marketing-header {
  background-color: #2C3E50;
}

.main-page-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.marketing-header {
  padding-top: 75px;
  padding-bottom: 50px;
}

h1, h2, h3 {
  font-weight: 200;
}

.marketing-header h1 {
  text-transform: uppercase;
}

.marketing-header h2 {
  font-size: 2em;
}

.main-text {
  font-size: 1.4em;
}
.action-links h2 {
  font-weight: 400;
  font-size: 1.5em;
}
.card-deck {
  margin: 0px;
}

.main-cards .card .footer-title {
  text-transform: uppercase;
  font-size: 0.9em;
}

.main-cards .card  a {
  color: white;
  font-size: 1.3em;
}

.card  a {
  text-transform: uppercase;
}

.card  ul {
  height: 100%;
}

.featured h5 {
  text-transform: uppercase;
  font-size: 0.9em;
}

.featured h4 {
  font-size: 1.2em;
  font-weight: normal;
}

.featured {
  height: 100%;
}

.featured .last {
  margin-bottom: auto;
}

.featured .itemlink {
  text-transform: none;
}
