{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}

<h1>Hello this is the home page of an authenticated user...</h1>

  {% if notification_list %}
    <ul>
        {% for notification in notification_list %}
          <li>{% if notification.url %}
                <a href="{{ notification.url }}">
              {% endif %}
              {% if not notification.is_read %}
                  NEW
              {% endif %}
              [{{ notification.notification_date }}] {{ notification.get_severity_display }} ({{ notification.get_source_display }}):
              {{ notification.notification_description }}
              {% if notification.url %}
                </a>
              {% endif %}
          </li>
        {% endfor %}
    </ul>

    {% url 'dssgmkt:home' as home_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=home_url %}

  {% endif %}

{% endblock %}
