{% extends 'dssgmkt/org.html' %}

{% block tabcontents %}

  <h2>Leave organization</h2>
  <p>Are you sure you want to leave this organization?</p>
  <form id="leaveorg">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
            form="leaveorg"
            formaction="{% url 'dssgmkt:org_staff_leave' organization.id %}"
            formmethod="post">
        Yes, leave organization
    </button>
  </form>
  <a href="{% url 'dssgmkt:org_info' organization.id %}">No, stay in the organization</a>

{% endblock %}
