{% extends 'dssgmkt/org.html' %}

{% block tabcontents %}
  <div class="row mt-5 mb-5">
    <div class="col-lg-8">
      <p>{{ organization.description }}</p>
    </div>

    <div class="btn-group-vertical col-lg-4">

      {% if user_is_administrator %}
        <a class="btn btn-success" role="button" href="{% url 'dssgmkt:org_info_edit' organization.id %}">Edit organization information</a>
      {% endif %}

      {% if user_is_member %}
        <a class="btn btn-success" role="button" href="{% url 'dssgmkt:org_staff_leave' organization.id %}">Leave organization</a>
      {% elif user_is_pending_membership %}
        Membership requested
      {% else %}
        <a class="btn btn-success" role="button" href="{% url 'dssgmkt:org_staff_request' organization.id %}">Request membership</a>
      {% endif %}

    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <div class="card-header">Contact information</div>
      <div class="card-body">
        <p>Phone number: {{ organization.phone_number }}</p>
        <p>Email address: {{ organization.email }}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Address</div>
      <div class="card-body">
        <p>{{ organization.street_address }}</p>
        <p>{{ organization.address_line_2 }}</p>
        <p>{{ organization.city }}, {{ organization.state }} {{ organization.zipcode }}</p>
        <p>{{ organization.get_country_display }}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Organization's details</div>
      <div class="card-body">
        <p>Years in operation: {{ organization.get_years_operation_display }}</p>
        <p>Yearly budget: {{ organization.get_budget_display }}</p>
        <p>Geographical scope: {{ organization.get_organization_scope_display }}</p>
      </div>
    </div>
  </div>

  <h3 class="mt-5">Organization's projects</h3>
  <div class="row">
    <div class="col-lg-12">
    {% if projects %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
              <th>Project name</th>
              <th>Summary</th>
              <th>Status</th>
              <th>Social impact area</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
            <tr>
                <td><a href="{% url 'dssgmkt:proj_info' project.id %}">{{ project.name }}</a></td>
                <td>{{ project.summary }}</td>
                <td>{{ project.get_status_display }}</td>
                <td>{{ project.get_project_cause_display }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% url 'dssgmkt:org_info' as org_info_url %}
      {% include 'dssgmkt/components/pagination.html' with baseurl=org_info_url page_obj=projects pagename='projects_page' %}
    {% else %}
      This organization has not posted any project yet.
    {% endif %}
    </div>
  </div>

{% endblock %}
