{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}
  {% load rules %}

  <div class="row">
    <div class="col-lg-3">
      <form>
        <h4>Filter</h4>
        <label for="orgname">
          Organization name
          <input class="form-control" type="text" id="orgname" name="orgname" placeholder=""></input></label>

        <fieldset name="socialcause">
          <legend>Organization's main cause</legend>
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='education' field_text='Education' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='health' field_text='Health' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='environment' field_text='Environment' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialservices' field_text='Social Services' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='transportation' field_text='Transportation' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='energy' field_text='Energy and Environment' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='internationaldev' field_text='International Development' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='publicsafety' field_text='Public Safety' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='economicdev' field_text='Economic Development' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='other' field_text='Other' %}

        </fieldset>

        <fieldset name="status">
          <legend>Project status</legend>
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='new' field_text='With new projects' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='inprogress' field_text='With progress in progress' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='acceptingvolunteers' field_text='With projects looking for volunteers' %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='completed' field_text='With completed projects' %}
        </fieldset>
        <button type="submit"
                formmethod="get"
                class="btn btn-success">
          Apply filters
        </button>
      </form>
    </div>
    <div class="col-lg-9">
      {% if org_list %}
        <table class="table table-hover">
          <thead>
            <tr>
                <th>Organization name</th>
                <th>Description</th>
                <th>Social impact area</th>
            </tr>
          </thead>
          <tbody>
            {% for organization in org_list %}
              <tr>
                  <td><a href="{% url 'dssgmkt:org_info' organization.id %}">{{ organization.name }}</a></td>
                  <td>{{ organization.short_summary }}</img></td>
                  <td>
                    {% include 'dssgmkt/components/social_cause_display.html' with object=organization social_cause=organization.get_main_cause_display %}
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% url 'dssgmkt:org_list' as org_list_url %}
        {% include 'dssgmkt/components/pagination.html' with baseurl=org_list_url %}


      {% else %}
          <p>No organizations found.</p>
      {% endif %}

      {% has_perm 'organization.create' user None as perm_org_create %}
      {% if perm_org_create %}
        <a class="btn btn-success col-lg-6 offset-lg-3 mb-1" role="button" href="{% url 'dssgmkt:org_create' %}">
          <i class="material-icons" style="vertical-align: middle">add_circle</i>
          Create new organization
        </a>
      {% endif %}
    </div>
  </div>




{% endblock %}
