{% extends 'dssgmkt/org.html' %}

{% block tabcontents %}

  <div class="row">
    <form id="removestaff" class="col-lg-6 offset-lg-3">
      <h4 class="section-header">Remove staff member</h4>
      <p>Name: {{ organizationrole.user.first_name }} {{ organizationrole.user.last_name }}</p>
      <p>Email: {{ organizationrole.user.email }}</p>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-row">
        <button type="submit"
                form="removestaff"
                formaction="{% url 'dssgmkt:org_staff_remove' organization.id organizationrole.id %}"
                formmethod="post"
                class="btn btn-danger mr-3">
            Yes, remove this staff member
        </button>
        <a class="btn btn-outline-primary" href="{% url 'dssgmkt:org_staff' organization.id %}">No, keep this staff member</a>
      </div>
    </form>
  </div>

{% endblock %}
