{% extends 'dssgmkt/org.html' %}

{% block tabcontents %}
  {% load rules %}
  {% load markdown_deux_tags %}

  <div class="row mt-5 mb-5">
    <div class="col-lg-8">
      <p>{{ organization.description|markdown }}</p>
      <h4 class="section-header">Organization's projects</h4>
      <div class="row">
        <div class="col-lg-12">
        {% if projects %}
          <table class="table table-hover">
            <thead>
              <tr>
                  <th>Project name</th>
                  <th>Summary</th>
                  <th>Status</th>
                  <th>Social impact area</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
                <tr>
                    <td><a href="{% url 'dssgmkt:proj_info' project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.short_summary }}</td>
                    <td>{{ project.get_status_display }}</td>
                    <td>{{ project.get_project_cause_display }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% url 'dssgmkt:org_info' as org_info_url %}
          {% include 'dssgmkt/components/pagination.html' with baseurl=org_info_url page_obj=projects pagename='projects_page' %}
        {% else %}
          This organization has not posted any project yet.
        {% endif %}
        </div>
      </div>

    </div>

    <div class="col-lg-4">
      {% has_perm 'organization.information_edit' user organization as perm_org_edit %}
      {% if perm_org_edit %}
        <a class="btn btn-success col-lg-12 mb-1" role="button" href="{% url 'dssgmkt:org_info_edit' organization.id %}">
          <i class="material-icons" style="vertical-align: middle">edit</i>
          Edit organization information
        </a>
      {% endif %}

      {% has_perm 'organization.project_create' user organization as perm_proj_create %}
      {% if perm_proj_create %}
        <a class="btn btn-success col-lg-12 mb-1" role="button" href="{% url 'dssgmkt:proj_create' organization.id %}">
          <i class="material-icons" style="vertical-align: middle">add_circle</i>
          Create new project
        </a>
      {% endif %}

      {% if user_is_member %}
        <a class="btn btn-success col-lg-12 mb-1" role="button" href="{% url 'dssgmkt:org_staff_leave' organization.id %}">
          <i class="material-icons" style="vertical-align: middle">meeting_room</i>
          Leave organization
        </a>
      {% elif user_is_pending_membership %}
        <a class="btn btn-light disabled col-lg-12 mb-1">
          <i class="material-icons" style="vertical-align: middle">check</i>
          Membership requested
        </a>
      {% else %}
        <a class="btn btn-success col-lg-12 mb-1" role="button" href="{% url 'dssgmkt:org_staff_request' organization.id %}">
          <i class="material-icons" style="vertical-align: middle">person_add</i>
          Request membership
        </a>
      {% endif %}

      <div class="card section-header">
        <div class="card-header">Organization's details</div>
        <div class="card-body">
          <p>Years in operation: {{ organization.get_years_operation_display }}</p>
          <p>Yearly budget: {{ organization.get_budget_display }}</p>
          <p>Geographical scope: {{ organization.get_organization_scope_display }}</p>
        </div>
      </div>
      <div class="card section-header">
        <div class="card-header">Address</div>
        <div class="card-body">
          <p>{{ organization.street_address }}</p>
          <p>{{ organization.address_line_2 }}</p>
          <p>{{ organization.city }}, {{ organization.state }} {{ organization.zipcode }}</p>
          <p>{{ organization.get_country_display }}</p>
        </div>
      </div>
      <div class="card section-header">
        <div class="card-header">Contact information</div>
        <div class="card-body">
          <p>Phone number: {{ organization.phone_number }}</p>
          <p>Email address: {{ organization.email }}</p>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
