{% extends 'dssgmkt/org.html' %}

{% block tabcontents %}


  <form id="editorg" enctype="multipart/form-data">
    <h4 class="section-header">Edit organization</h4>
    <p>Tell us more about the organization you represent.</p>
    {% csrf_token %}
    {% include 'dssgmkt/components/standard_form_fields.html' %}

    <!-- <div class="form-group row">
      <div class="col-sm-3">
        <label class="control-label"
               for="id_social_causes">
          Social Causes
        </label>
        <div class="form-text text-muted help-block">
          <small>
            Choose the social causes this organization works towards.
          </small>
        </div>
      </div>
      <div class="col-sm-9 row">
        {% for sc in social_causes %}
          <div class="col-lg-5 row mr-3">
            <input type="checkbox"
                    class="form-control col-lg-1"
                    id="{{ sc.social_cause_value }}"
                    value="{{ sc.social_cause_value }}"
                    name="id_social_causes"
                    {% if sc.selected %}checked="checked"{% endif %}>
            </input>
            <label class="control-label col-lg-11"
                   for="{{ sc.social_cause_value }}">
              {% include 'dssgmkt/components/social_cause_display.html' with object=sc.social_cause_value social_cause=sc.social_cause_text %}
            </label>
          </div>
        {% endfor %}
      </div>
    </div> -->

    {% include 'dssgmkt/components/social_cause_edit_row.html' with label_text='Choose the social causes this organization works towards.' %}

    <div class="form-row">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="editorg"
                formaction="{% url 'dssgmkt:org_info_edit' organization.id %}"
                formmethod="post"
                class="btn btn-success mr-3">
          <i class="material-icons" style="vertical-align: middle">save</i>
          Save
        </button>
        <a class="btn btn-outline-primary"
           href="{% url 'dssgmkt:org_info' organization.id %}">
           <i class="material-icons" style="vertical-align: middle">close</i>
           Cancel
        </a>
      </div>
    </div>
  </form>

{% endblock %}
