{% extends 'dssgmkt/org.html' %}

{% block tabcontents %}

  <h2>Staff members</h2>
  {% if organization_staff %}
    <table>
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Role</th>
            {% if user_is_administrator %}
            <th>Edit</th>
            <th>Remove</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for staff in organization_staff %}
          <tr>
              <td><a href="{% url 'dssgmkt:user_profile' staff.user.id %}">{{ staff.user.first_name }} {{ staff.user.last_name }}</a></td>
              <td><a href="{% url 'dssgmkt:user_profile' staff.user.id %}">{{ staff.user.email }}</a></td>
              <td>{{ staff.get_role_display }}</td>
              {% if user_is_administrator %}
              <td><a href="{% url 'dssgmkt:org_staff_edit' staff.organization.id staff.id %}">Edit</a></td>
              <td><a href="{% url 'dssgmkt:org_staff_remove' staff.organization.id staff.id %}">Remove</a></td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:org_staff' as org_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=org_staff_url page_obj=organization_staff pagename='staff_page' %}
  {% else %}
    <p>No staff found.</p>
  {% endif %}

  {% if user_is_administrator %}
    <h2>Add staff member</h2>
    <form id="addstaff">
      {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
      {% endif %}

      {% csrf_token %}
      {{ add_staff_form.as_p }}
      <button type="submit"
              form="addstaff"
              formaction="{% url 'dssgmkt:org_staff' organization.id %}"
              formmethod="post">
        Add staff member
      </button>
    </form>
  {% endif %}

  <h2>Organization membership requests</h2>
  {% if organization_requests %}
    <table>
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Request date</th>
            <th>Status</th>
            <th>Resolution date</th>
            <th>Public comments</th>
            <th>Private notes</th>
            {% if user_is_administrator %}
            <th>Acept/Reject</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for request in organization_requests %}
          <tr>
              <td><a href="{% url 'dssgmkt:user_profile' request.user.id %}">{{ request.user.first_name }} {{ request.user.last_name }}</a></td>
              <td><a href="{% url 'dssgmkt:user_profile' request.user.id %}">{{ request.user.email }}</a></td>
              <td>{{ request.request_date }}</td>
              <td>{{ request.get_status_display }}</td>
              <td>{{ request.resolution_date|default_if_none:"" }}</td>
              <td>{{ request.public_reviewer_comments|default_if_none:"" }}</td>
              <td>{{ request.private_reviewer_notes|default_if_none:"" }}</td>
              {% if user_is_administrator %}
              <td>{% if request.is_new %}
                    <a href="{% url 'dssgmkt:org_staff_request_review' organization.id request.id %}">Accept/Reject</a>
                  {% endif %}</td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:org_staff' as org_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=org_staff_url page_obj=organization_requests pagename='requests_page' %}
  {% else %}
    <p>No requests found.</p>
  {% endif %}
{% endblock %}
