{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}
  {% load rules %}

  <div class="row">
    <div class="col-lg-3">
      <form id="orglist">
        {% csrf_token %}
        <h4>Filter</h4>
        <label for="orgname">
          Organization name
          <input class="form-control" type="text" id="orgname" name="orgname" placeholder="" value="{{ filter_orgname }}"></input></label>

        <fieldset name="socialcause">
          <legend>Organization's main cause</legend>
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='education' field_text='Education' is_checked=checked_social_cause_fields.education %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='health' field_text='Health' is_checked=checked_social_cause_fields.health %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='environment' field_text='Environment' is_checked=checked_social_cause_fields.environment %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='socialservices' field_text='Social Services' is_checked=checked_social_cause_fields.socialservices %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='transportation' field_text='Transportation' is_checked=checked_social_cause_fields.transportation %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='energy' field_text='Energy and Environment' is_checked=checked_social_cause_fields.energy %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='internationaldev' field_text='International Development' is_checked=checked_social_cause_fields.internationaldev %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='publicsafety' field_text='Public Safety' is_checked=checked_social_cause_fields.publicsafety %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='economicdev' field_text='Economic Development' is_checked=checked_social_cause_fields.economicdev %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='socialcause' field_value='other' field_text='Other' is_checked=checked_social_cause_fields.other %}

        </fieldset>

        <fieldset name="status">
          <legend>Project status</legend>
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='projectstatus' field_value='new' field_text='With new projects' is_checked=checked_project_fields.new %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='projectstatus' field_value='in_progress' field_text='With projects in progress' is_checked=checked_project_fields.in_progress %}
          {% include 'dssgmkt/components/filter_checkbox.html' with field_name='projectstatus' field_value='completed' field_text='With completed projects' is_checked=checked_project_fields.completed %}
        </fieldset>
        <button type="submit"
                form="orglist"
                formmethod="post"
                formaction="{% url 'dssgmkt:org_list' %}"
                class="btn btn-success col-lg-12 mt-3">
          Apply filters
        </button>
        <a class="btn btn-outline-primary col-lg-12 mt-3"
           href="{% url 'dssgmkt:org_list' %}">
           <i class="material-icons" style="vertical-align: middle">close</i>
           Clear filters
        </a>
      </form>
    </div>
    <div class="col-lg-9">
      {% if org_list %}
        <table class="table table-hover">
          <thead>
            <tr>
                <th>Organization name</th>
                <th>Description</th>
                <th>Social impact area</th>
            </tr>
          </thead>
          <tbody>
            {% for organization in org_list %}
              <tr>
                  <td><a href="{% url 'dssgmkt:org_info' organization.id %}">{{ organization.name }}</a></td>
                  <td>{{ organization.short_summary }}</img></td>
                  <td>
                    {% include 'dssgmkt/components/social_cause_display.html' with object=organization social_cause=organization.get_main_cause_display %}
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% url 'dssgmkt:org_list' as org_list_url %}
        {% include 'dssgmkt/components/pagination.html' with baseurl=org_list_url %}


      {% else %}
          <p>No organizations found.</p>
      {% endif %}

      {% has_perm 'organization.create' user None as perm_org_create %}
      {% if perm_org_create %}
        <a class="btn btn-success col-lg-6 offset-lg-3 mb-1" role="button" href="{% url 'dssgmkt:org_create' %}">
          <i class="material-icons" style="vertical-align: middle">add_circle</i>
          Create new organization
        </a>
      {% endif %}
    </div>
  </div>




{% endblock %}
