{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h4 class="section-header">Project volunteers</h4>
  {% if volunteers %}
    {% load rules %}
    {% has_perm 'project.volunteers_application_review' user project as user_is_project_official %}
    {% has_perm 'project.volunteers_edit' user project as perm_volunteers_edit %}
    {% has_perm 'project.volunteers_remove' user project as perm_volunteers_remove %}
      <table class="table table-hover">
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Task</th>
            <th>Status</th>
            {% if perm_volunteers_edit %}
              <th></th>
            {% endif %}
            {% if perm_volunteers_remove %}
              <th></th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for volunteer in volunteers %}
          <tr>
              <td>{% include 'dssgmkt/components/user_display.html' with user=volunteer.user %}</td>
              <td><a href="{% url 'dssgmkt:user_profile' volunteer.user.id %}">{{ volunteer.user.email }}</a></td>
              <td>{{ volunteer.task.name }}</td>
              <td>{% if volunteer.task.is_completed %}<span class="text-muted">Completed</span>{% else %}Active{% endif %}</td>
              <td>
                {% if perm_volunteers_edit and not volunteer.task.is_completed %}
                    <a href="{% url 'dssgmkt:proj_volunteer_edit' volunteer.task.project.id volunteer.task.id volunteer.id %}">
                      <i class="material-icons md-12" style="vertical-align: middle">swap_horiz</i>
                      Change task
                    </a>
                {% endif %}
              </td>
              <td>
                {% if perm_volunteers_remove and not volunteer.task.is_completed %}
                    <a class="text-danger" href="{% url 'dssgmkt:proj_volunteer_remove' volunteer.task.project.id volunteer.task.id volunteer.id %}">
                      <i class="material-icons" style="vertical-align: middle">remove_circle</i>
                      Remove
                    </a>
                {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:proj_staff' as proj_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=proj_staff_url page_obj=volunteers pagename='volunteers_page' %}
  {% else %}
    <p>No active volunteers in the project.</p>
  {% endif %}


  <h4 class="section-header">Volunteer applications</h4>
  {% if volunteer_applications %}
    <table class="table table-hover">
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Project task</th>
            <th>Application date</th>
            <th>Status</th>
            <th>Resolution date</th>
        </tr>
      </thead>
      <tbody>
        {% for application in volunteer_applications %}
          <tr>
              <td>{% include 'dssgmkt/components/user_display.html' with user=application.volunteer %}</td>
              <td><a href="{% url 'dssgmkt:user_profile' application.volunteer.id %}">{{ application.volunteer.email }}</a></td>
              <td>{{ application.task.name }}</td>
              <td>{{ application.application_date }}</td>
              <td>
                <a href="{% url 'dssgmkt:proj_volunteer_application_review' project.id application.task.id application.id %}"
                   class="{% if application.is_accepted %}
                             text-success
                           {% elif application.is_rejected %}
                             text-danger
                           {% elif application.is_new %}
                             text-info
                           {% endif %}">
                  <i class="material-icons" style="vertical-align: middle">
                    {% if application.is_accepted %}
                      check
                    {% elif application.is_rejected %}
                      block
                    {% elif application.is_new %}
                      edit
                    {% endif %}
                  </i>
                  {{ application.get_status_display }}
                </a>
              </td>
              <td>{{ application.resolution_date|default_if_none:"" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:proj_staff' as proj_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=proj_staff_url page_obj=volunteer_applications pagename='applications_page' %}
  {% else %}
    <p>No applications found.</p>
  {% endif %}

{% endblock %}
