{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}


    <h4 class="section-header">Select organization</h4>

    <p>Select which of the organizations you belong to you want to create the project for.</p>


      {% for org in user_organizations %}
        <a href="{% url 'dssgmkt:proj_create' org.id %}">
          {{ org.name }}
        </a>
      {% endfor %}

      <a class="btn btn-outline-primary" href="{% url 'dssgmkt:home' %}">
        <i class="material-icons" style="vertical-align: middle">close</i>
        Cancel
      </a>


{% endblock %}
