{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h2>Cancel task</h2>
  <p>Are you sure that you want to cancel this volunteer work and stop your involvement in the project?
    You will have to reapply to get involved in the project if you leave the project and change your mind in the future.</p>
  <form id="canceltask">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
            form="canceltask"
            formaction="{% url 'dssgmkt:proj_task_cancel' project.id project_task.id %}"
            formmethod="post">
        Yes, stop working on this project
    </button>
  </form>
  <a href="{% url 'dssgmkt:proj_instructions' project.id %}">No, keep working on this project</a>

{% endblock %}
