{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h4 class="section-header">Delete task</h4>
  <p>Are you sure you want to delete this task? If you delete it
    the task will be permanently removed from the system and
    all its data will be lost.</p>
  <form id="deletetask">
    {% csrf_token %}
    {% include 'dssgmkt/components/standard_form_fields.html' %}
    <div class="form-row">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="deletetask"
                formaction="{% url 'dssgmkt:proj_task_remove' project.id project_task.id %}"
                formmethod="post"
                class="btn btn-danger mr-3">
          <i class="material-icons" style="vertical-align: middle">remove_circle</i>
          Yes, delete this task
        </button>
        <a class="btn btn-outline-primary"
           href="{% url 'dssgmkt:proj_task_list' project.id %}">
          <i class="material-icons" style="vertical-align: middle">close</i>
          No, keep this task
        </a>
      </div>
    </div>
  </form>

{% endblock %}
