{% extends "dssgmkt/proj.html" %}

{% block tabcontents %}
  <ul class="list-group list-group-flush section-header mb-3">
    {% for log in project_logs %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-lg-3">
            <div class="text-right"><a href="{% url 'dssgmkt:user_profile' log.author.id %}">{{ log.author }}</a></div>
            <div class="text-right text-muted">{{ log.change_date }}</div>
          </div>
          <div class="col-lg-1">
            {% if log.is_type_add %}
              <i class="material-icons" style="vertical-align: middle">add_circle</i>
            {% elif log.is_type_edit %}
              <i class="material-icons" style="vertical-align: middle">edit</i>
            {% elif log.is_type_remove %}
              <i class="material-icons" style="vertical-align: middle">remove_circle</i>
            {% elif log.is_type_complete %}
              <i class="material-icons" style="vertical-align: middle">check</i>
            {% endif %}

            {% if log.is_source_task %}
              <i class="material-icons" style="vertical-align: middle">build</i>
            {% elif log.is_source_task_review %}
              <i class="material-icons" style="vertical-align: middle">search</i>
            {% elif log.is_source_staff %}
              <i class="material-icons" style="vertical-align: middle">group</i>
            {% elif log.is_source_volunteer_application %}
              <i class="material-icons" style="vertical-align: middle">how_to_vote</i>
            {% elif log.is_source_volunteer %}
              <i class="material-icons" style="vertical-align: middle">person</i>
            {% elif log.is_source_status %}
              <i class="material-icons" style="vertical-align: middle">layers</i>
            {% elif log.is_source_information %}
              <i class="material-icons" style="vertical-align: middle">info</i>
            {% elif log.is_source_scope %}
              <i class="fas fa-ruler"></i>
            {% endif %}
          </div>
          <div class="col-lg-8">
            {{ log.change_description }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  {% url 'dssgmkt:proj_log' as proj_log_url %}
  {% include 'dssgmkt/components/pagination.html' with baseurl=proj_log_url %}

{% endblock %}
