{% extends "dssgmkt/proj_volunteer_task_base.html" %}

{% block taskcontents %}

  {% if project_task %}

    <h4 class="section-header">Mark work as done</h4>

    <p>Task:<a href="{% url 'dssgmkt:proj_instructions' project.id %}">{{ project_task.name }}</a></p>

    <p>Remember to put all the results of your work in the appropriate sites
       designed for the task:</p>
     {% if project.deliverable_management_url %}
       <a href="{{ project.deliverable_management_url }}">External project home</a>
     {% endif %}
     {% if project.deliverable_github_url %}
       <a href="{{ project.deliverable_github_url }}">Project github page</a>
     {% endif %}
     {% if project.deliverable_reports_url %}
       <a href="{{ project.deliverable_reports_url }}">Project reports</a>
     {% endif %}
     {% if project.deliverable_documentation_url %}
       <a href="{{ project.deliverable_documentation_url }}">Project documentation</a>
     {% endif %}

    <form id="completetask">
      {% csrf_token %}
      {% include 'dssgmkt/components/standard_form_fields.html' %}

      <div class="form-row">
        <div class="col-lg-9 offset-lg-3">
          <button type="submit"
                  form="completetask"
                  formaction="{% url 'dssgmkt:proj_task_finish' project.id project_task.id %}"
                  formmethod="post"
                  class="btn btn-success mr-3">
            <i class="material-icons" style="vertical-align: middle">check</i>
            Mark work as done
          </button>
          <a class="btn btn-outline-primary" href="{% url 'dssgmkt:proj_instructions_task' project.id project_task.id %}">
            <i class="material-icons" style="vertical-align: middle">close</i>
            Cancel
          </a>
        </div>
      </div>
    </form>

  {% else %}
    <p>You don't have any active task in this project.</p>
  {% endif %}
{% endblock %}
