{% extends "dssgmkt/proj.html" %}

{% block tabcontents %}

  <h4 class="section-header">Project deliverables</h4>

  {% if project.is_completed %}
    <p>This project has been completed. Below you can find links to all the public results, documentation, data, code, etc. that has been generated as part of the project.</p>
    {% if project.deliverable_management_url %}
      <a href="{{ project.deliverable_management_url }}">Project home</a>
    {% endif %}
    {% if project.deliverable_github_url %}
      <a href="{{ project.deliverable_github_url }}">Project github page</a>
    {% endif %}
    {% if project.deliverable_reports_url %}
      <a href="{{ project.deliverable_reports_url }}">Project reports</a>
    {% endif %}
    {% if project.deliverable_documentation_url %}
      <a href="{{ project.deliverable_documentation_url }}">Project documentation</a>
    {% endif %}
  {% else %}
    <p>This project is still in progress, so no public deliverables are available.</p>
  {% endif %}

{% endblock %}
