{% extends "dssgmkt/proj.html" %}

{% block tabcontents %}


  <div class="row mt-5 mb-5">
    <div class="col-lg-8">
      <h3>Project description</h3>
      <h4 class="section-header">Context and motivation</h4>
      <p>{{ project.motivation }}</p>
      <h4 class="section-header">Proposed solution</h4>
      <p>{{ project.solution_description }}</p>
      <h4 class="section-header">Main challenges</h4>
      <p>{{ project.challenges }}</p>
    </div>

    <div class="col-lg-4">
      <form id="followproject">
        {% csrf_token %}
        <button type="submit"
                form="followproject"
                formaction="{% url 'dssgmkt:proj_follow' project.id %}"
                formmethod="post"
                class="btn btn-success col-lg-12 mb-1">
          {% if user_is_following_project %}
            <i class="material-icons" style="vertical-align: middle">visibility_off</i>
            Unfollow project
          {% else %}
            <i class="material-icons" style="vertical-align: middle">visibility</i>
            Follow project
          {% endif %}
        </button>
      </form>
      {% load rules %}
      {% has_perm 'project.information_edit' user project as perm_information_edit %}
      {% if perm_information_edit %}
        <a class="btn btn-success col-lg-12 mb-1"
           href="{% url 'dssgmkt:proj_info_edit' project.id %}">
          <i class="material-icons" style="vertical-align: middle">edit</i>
          Edit project information
        </a>
      {% endif %}

      <div class="card mb-3 section-header">
        <div class="card-header">Schedule</div>
        <div class="card-body">
          <p>Start date: {{ project.intended_start_date }}</p>
          <p>End date: {{ project.intended_end_date }}</p>
        </div>
      </div>

      <h4 class="section-header">Volunteer openings</h4>
      {% if project_tasks %}
        {% for project_task in project_tasks %}
          <div class="card mb-3">
            <div class="card-header">{{ project_task.name }}</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ project_task.description }}</li>
              <li class="list-group-item">Required skills:
                {% for task_requirement in project_task.projecttaskrequirement_set.all %}
                  <div>{{ task_requirement.skill.area }}/{{ task_requirement.skill.name }}:{{ task_requirement.get_level_display }}</div>
                {% endfor %}
              </li>
              <li class="list-group-item">
                {# TODO show a message "You have applied to this task" instead of the link when the user has applied already #}
                <a class="btn btn-success col-lg-12" href="{% url 'dssgmkt:proj_task_apply' project.id project_task.id %}">
                  <i class="material-icons" style="vertical-align: middle">how_to_vote</i>
                  Apply to volunteer
                </a>
              </li>
            </ul>
          </div>
        {% endfor %}
      {% else %}
        <p>This project does not have any volunteer openings at this moment.</p>
      {% endif %}
    </div>
  </div>


{% endblock %}
