{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h4 class="section-header">Task requirements</h4>
  {% if task_requirements %}
    <table class="table table-hover">
      <thead>
        <tr>
            <th>Area</th>
            <th>Skill</th>
            <th>Level</th>
            <th>Importance</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for task_requirement in task_requirements %}
          <tr>
              <td>{{ task_requirement.skill.area }}</td>
              <td>{{ task_requirement.skill.name }}</td>
              <td>{{ task_requirement.get_level_display }}</td>
              <td>{{ task_requirement.get_importance_display }}</td>
              <td>
                <a href="{% url 'dssgmkt:proj_task_requirements_requirement_edit' project.id  project_task.id task_requirement.id %}">
                  <i class="material-icons md-12" style="vertical-align: middle">edit</i>
                  Edit
                </a>
              </td>
              <td>
                <a class="text-danger" href="{% url 'dssgmkt:proj_task_requirements_requirement_remove' project.id  project_task.id task_requirement.id %}">
                  <i class="material-icons md-12" style="vertical-align: middle">remove_circle</i>
                  Remove
                </a>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No requirements listed.</p>
  {% endif %}

  <h4 class="section-header">Add new task requirement</h4>
  <form id="addrequirement" class="form-inline">
    {% csrf_token %}
    {% include 'dssgmkt/components/inline_form_fields.html' with form=add_requirement_form %}
    <div class="form-group col-lg-3">
      <div>
        <button type="submit"
                form="addrequirement"
                formaction="{% url 'dssgmkt:proj_task_requirements_edit' project.id project_task.id %}"
                formmethod="post"
                class="btn btn-success">
          <i class="material-icons" style="vertical-align: middle">add_circle</i>
          Add requirement
        </button>
      </div>
    </div>
  </form>
<!--
  <a href="{% url 'dssgmkt:proj_task_list' project.id %}">Back</a> -->
{% endblock %}
