{% extends 'dssgmkt/proj_task_base.html' %}

{% block taskcontents %}

  {% load static %}

  <script src="{% static 'js/requirements-editor.js' %}"></script>

  <h4 class="section-header">Task requirements</h4>
  <p>Select below your all the requirements and their importance for this task.</p>

  {% for area_name, area_skills in system_skills.items %}
    <h5 class="section-header">{{ area_name }}</h5>
    <div class="d-flex skills-header" style="display:none !important;">
        <div class="text-right pr-2" style="flex-basis: 20%">Skill</div>
        <div class="text-right pr-2 d-flex" style="flex-basis: 60%">
          <div class="text-center" style="flex-basis: 25%">Not required</div>
          <div class="text-center" style="flex-basis: 25%">Beginner</div>
          <div class="text-center" style="flex-basis: 25%">Intermediate</div>
          <div class="text-center" style="flex-basis: 25%">Expert</div>
        </div>
    </div>
    <form id="requirementsform">
      <div class="row">
        {% csrf_token %}
        {% for sk in area_skills %}

          <div id="row{{ sk.system_skill.id }}" class="mt-2 d-flex col-lg-12" style="display:none !important;">
            <div style="flex-basis: 20%" class="text-right pr-2 mt-2">{{ sk.system_skill.name }}</div>
            <input type="hidden" id="{{ sk.system_skill.id }}" name="{{ sk.system_skill.id }}"
              value="{% if sk.task_requirement.level %}{{ sk.task_requirement.level }}{% else %}-1{% endif %}"></input>

            <div style="flex-basis: 60%" class="mt-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20px" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <line x1="250" y1="10" x2="250" y2="90" stroke="#2C3E50" stroke-width="1"/>
                <line x1="500" y1="10" x2="500" y2="90" stroke="#2C3E50" stroke-width="1"/>
                <line x1="750" y1="10" x2="750" y2="90" stroke="#2C3E50" stroke-width="1"/>
                <rect x="0" y="30" width="1000" height="40" fill="white" stroke-width="3" stroke="#2C3E50"></rect>


                <rect id="{{ sk.system_skill.id }}-2"
                  class="requirement-editor-control"
                  x="750" y="30"  height="40" width="250" fill="#2C3E50"
                  onClick="setLevel({{ sk.system_skill.id }}, {{ sk.system_skill.id }}, 2)">
                </rect>
                <rect id="{{ sk.system_skill.id }}-1"
                  class="requirement-editor-control"
                  x="500" y="30"  height="40" width="250" fill="#426487"
                  onClick="setLevel({{ sk.system_skill.id }}, {{ sk.system_skill.id }}, 1)">
                </rect>
                <rect id="{{ sk.system_skill.id }}-0"
                  class="requirement-editor-control"
                  x="250" y="30"  height="40" width="250" fill="#648fbc"
                  onClick="setLevel({{ sk.system_skill.id }}, {{ sk.system_skill.id }}, 0)">
                </rect>
                <rect id="{{ sk.system_skill.id }}--1"
                  class="requirement-editor-control"
                  x="0" y="30"  height="40" width="250" fill="#c7d3e0"
                  onClick="setLevel({{ sk.system_skill.id }}, {{ sk.system_skill.id }}, -1)">
                </rect>

                <line x1="999" y1="10" x2="999" y2="90" stroke="#2C3E50" stroke-width="1"/>
                <line x1="0" y1="10" x2="0" y2="90" stroke="#2C3E50" stroke-width="1"/>

              </svg>

            </div>

            <select style="flex-basis: 20%;" class="form-control ml-2" id="i{{ sk.system_skill.id }}" name="i{{ sk.system_skill.id }}" disabled>
              {% for importance, importance_name in importance_levels %}
                <option value="{{ importance }}" {% if sk.task_requirement.importance == importance %}selected="selected"{% endif %}>{{ importance_name }}</option>
              {% endfor %}
            </select>

            <script>
              {% if sk.task_requirement.level %}
                setLevel({{ sk.system_skill.id }}, {{ sk.system_skill.id }}, {{ sk.task_requirement.level }});
              {% else %}
                setLevel({{ sk.system_skill.id }}, {{ sk.system_skill.id }}, -1);
              {% endif %}
              $("#row{{ sk.system_skill.id }}").css("display","inherit");
            </script>
          </div>

          <noscript>
            <div class="form-group mt-3 mr-3">
              <label class="control-label"
                     for="{{ sk.system_skill.id }}">
                {{ sk.system_skill.name }}
              </label>
              <select class="form-control" id="{{ sk.system_skill.id }}" name="{{ sk.system_skill.id }}">
                <option value="-1" {% if not sk.task_requirement %}selected="selected"{% endif %}>None</option>
                {% for level_value, level_name in skill_levels %}
                  <option value="{{ level_value }}" {% if sk.task_requirement.level == level_value %}selected="selected"{% endif %}>{{ level_name }}</option>
                {% endfor %}
              </select>
              <select class="form-control mt-2" id="i{{ sk.system_skill.id }}" name="i{{ sk.system_skill.id }}">
                {% for importance, importance_name in importance_levels %}
                  <option value="{{ importance }}" {% if sk.task_requirement.importance == importance %}selected="selected"{% endif %}>{{ importance_name }}</option>
                {% endfor %}
              </select>
            </div>
          </noscript>
        {% endfor %}
      </div>
      <script>
        $(".skills-header").css("display","inherit");
      </script>
    {% endfor %}
    <div class="form-row section-header">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="requirementsform"
                formaction="{% url 'dssgmkt:proj_task_requirements_edit' project.id project_task.id %}"
                formmethod="post"
                class="btn btn-success mr-3">
          <i class="material-icons" style="vertical-align: middle">save</i>
          Save task requirements
        </button>
        <a class="btn btn-outline-primary"
           href="{% url 'dssgmkt:proj_task' project.id project_task.id %}">
           <i class="material-icons" style="vertical-align: middle">close</i>
           Cancel
        </a>
      </div>
    </div>
  </form>
{% endblock %}
