{% extends "dssgmkt/proj.html" %}

{% block tabcontents %}

  {% load markdown_deux_tags %}

  <div class="row mt-5 mb-5">
    <div class="col-lg-8">
      <h3>Project description</h3>
      <h4 class="section-header">Context and motivation</h4>
      <p>{{ project.motivation|markdown }}</p>
      <h4 class="section-header">Proposed solution</h4>
      <p>{{ project.solution_description|markdown }}</p>
      <h4 class="section-header">Main challenges</h4>
      <p>{{ project.challenges|markdown }}</p>
    </div>

    <div class="col-lg-4">
      {% if not project.is_completed and user.is_authenticated %}
        <form id="followproject">
          {% csrf_token %}
          <button type="submit"
                  form="followproject"
                  formaction="{% url 'dssgmkt:proj_follow' project.id %}"
                  formmethod="post"
                  class="btn btn-success col-lg-12 mb-1">
            {% if user_is_following_project %}
              <i class="material-icons" style="vertical-align: middle">visibility_off</i>
              Unfollow project
            {% else %}
              <i class="material-icons" style="vertical-align: middle">visibility</i>
              Follow project
            {% endif %}
          </button>
        </form>
      {% endif %}
      {% load rules %}
      {% has_perm 'project.publish' user project as perm_publish %}
      {% if perm_publish and project.is_draft_status %}
        <a class="btn btn-success col-lg-12 mb-1"
           href="{% url 'dssgmkt:proj_publish' project.id %}">
          <i class="material-icons" style="vertical-align: middle">publish</i>
          Publish project
        </a>
      {% endif %}

      {% has_perm 'project.approve_as_completed' user project as perm_approve %}
      {% if perm_approve and project.is_waiting_review_status %}
        <a class="btn btn-success col-lg-12 mb-1"
           href="{% url 'dssgmkt:proj_finish' project.id %}">
          <i class="material-icons" style="vertical-align: middle">done_all</i>
          Finish project
        </a>
      {% endif %}

      {% has_perm 'project.information_edit' user project as perm_information_edit %}
      {% if perm_information_edit %}
        <a class="btn btn-success col-lg-12 mb-1"
           href="{% url 'dssgmkt:proj_info_edit' project.id %}">
          <i class="material-icons" style="vertical-align: middle">edit</i>
          Edit project information
        </a>
      {% endif %}

      {% if project.is_completed %}
        <div class="card mb-3 section-header">
          <div class="card-header">Project results</div>
          <div class="card-body">
            {% if project.deliverable_management_url %}
              <div><a href="{{ project.deliverable_management_url }}">Project home</a></div>
            {% endif %}
            {% if project.deliverable_github_url %}
              <div><a href="{{ project.deliverable_github_url }}">Project github page</a></div>
            {% endif %}
            {% if project.deliverable_reports_url %}
              <div><a href="{{ project.deliverable_reports_url }}">Project reports</a></div>
            {% endif %}
            {% if project.deliverable_documentation_url %}
              <div><a href="{{ project.deliverable_documentation_url }}">Project documentation</a></div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <div class="card mb-3 section-header">
        <div class="card-header"><i class="far fa-calendar-alt"></i> Schedule</div>
        <div class="card-body">
          <div>Start date: {% if project.actual_start_date %}{{ project.actual_start_date }}{% else %}{{ project.intended_start_date }}{% endif %}</div>
          <div>End date: {% if project.actual_end_date %}{{ project.actual_end_date }}{% else %}{{ project.intended_end_date }}{% endif %}</div>
        </div>
      </div>

      <div class="card mb-3 section-header">
        <div class="card-header"><i class="far fa-help"></i> Volunteers</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% if volunteers %}
              {% for volunteer in volunteers %}
                <div>{% include 'dssgmkt/components/user_display.html' with user=volunteer %}</div>
              {% endfor %}
            {% else %}
              No volunteers in this project yet.
            {% endif %}
          </li>
      </div>


        <h3 class="section-header">Project tasks</h3>
        {% if project_tasks %}
          {% for project_task in project_tasks %}
            {% if not project_task.is_completed %}
              <div class="card mb-3">
                <div class="card-header d-flex">
                  <span class="mr-auto">
                      {% include 'dssgmkt/components/task_type_display.html' with compact_display=True %}
                      {{ project_task.name }}
                  </span>
                  <span class="text-right">
                    {{ project_task.volunteer_count }}
                    <i class="fas fa-user-cog"></i>
                  </span>
                </div>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ project_task.short_summary }}</li>
                    <li class="list-group-item"><div>Required skills:</div>
                      {% for task_requirement in project_task.projecttaskrequirement_set.all %}
                        {% if not forloop.first %}, {% endif %}
                        <span>{% include 'dssgmkt/components/skill_level_display.html' with object=task_requirement %}</span>
                      {% endfor %}
                    </li>
                      {% if project_task.accepting_volunteers %}
                        {% if project_task.already_applied %}
                          <a class="list-group-item list-group-item-action disabled">
                            <i class="material-icons" style="vertical-align: middle">check</i>
                            You have already applied to this task
                          </a>
                        {% elif project_task.already_volunteer %}
                          <a class="list-group-item list-group-item-action disabled">
                            <i class="material-icons" style="vertical-align: middle">check</i>
                            You are already a volunteer
                          </a>
                        {% else %}
                          {% if user.volunteerprofile %}
                            {% if user.volunteerprofile.is_accepted %}
                              <a class="list-group-item list-group-item-action bg-success text-white" href="{% url 'dssgmkt:proj_task_apply' project.id project_task.id %}">
                                <i class="material-icons" style="vertical-align: middle">how_to_vote</i>
                                Apply to volunteer
                              </a>
                            {% else %}
                              <a class="list-group-item list-group-item-action disabled">
                                <i class="material-icons" style="vertical-align: middle">not_interested</i>
                                Wait until approved as volunteer
                              </a>
                            {% endif %}
                          {% else %}
                            <a class="list-group-item list-group-item-action disabled">
                              <i class="material-icons" style="vertical-align: middle">not_interested</i>
                              Create a volunteer profile first
                            </a>
                          {% endif %}
                        {% endif %}
                      {% else %}
                        <a class="list-group-item list-group-item-action disabled">
                          <i class="material-icons" style="vertical-align: middle">hourglass_empty</i>
                          Task not currently accepting volunteers
                        </a>
                      {% endif %}
                  </ul>
              </div>
            {% else %}
              <div class="mb-1 text-muted d-flex">
                <span class="mr-auto text-muted">
                  {% include 'dssgmkt/components/task_type_display.html' with compact_display=True %}
                  {{ project_task.name }}
                </span>
                <span>{{ project_task.volunteer_count }}
                  <i class="fas fa-user-cog"></i>
                  <i class="material-icons" style="vertical-align: middle">done_all</i></span>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <p>This project does not have any tasks at this moment.</p>
        {% endif %}
    </div>
  </div>


{% endblock %}
