{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <form id="removestaff">
    <h4 class="section-header">Remove staff member</h4>
    <p>User: {% include 'dssgmkt/components/user_display.html' with user=projectrole.user %}</p>
    <p>Email: {{ projectrole.user.email }}</p>
    {% csrf_token %}
    {% include 'dssgmkt/components/standard_form_fields.html' %}

    <div class="form-row">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="removestaff"
                formaction="{% url 'dssgmkt:proj_staff_remove' project.id projectrole.id %}"
                formmethod="post"
                class="btn btn-danger mr-3">
          <i class="material-icons" style="vertical-align: middle">remove_circle</i>
          Yes, remove this staff member
        </button>
        <a class="btn btn-outline-primary" href="{% url 'dssgmkt:proj_staff' project.id %}">
          <i class="material-icons" style="vertical-align: middle">close</i>
          No, keep this staff member
        </a>
      </div>
    </div>
  </form>

{% endblock %}
