{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h2>Project volunteers</h2>
  {% if volunteers %}
    {% load rules %}
    {% has_perm 'project.volunteers_application_review' user project as user_is_project_official %}
    {% has_perm 'project.volunteers_edit' user project as perm_volunteers_edit %}
    {% has_perm 'project.volunteers_remove' user project as perm_volunteers_remove %}
    <table>
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Task</th>
            {% if perm_volunteers_edit %}
              <th>Change task</th>
            {% endif %}
            {% if perm_volunteers_remove %}
              <th>Remove</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for volunteer in volunteers %}
          <tr>
              <td><a href="{% url 'dssgmkt:user_profile' volunteer.user.id %}">{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</a></td>
              <td><a href="{% url 'dssgmkt:user_profile' volunteer.user.id %}">{{ volunteer.user.email }}</a></td>
              <td>{{ volunteer.task.name }}</td>
              {% if perm_volunteers_edit %}
                <td><a href="{% url 'dssgmkt:proj_volunteer_edit' volunteer.task.project.id volunteer.task.id volunteer.id %}">Change task</a></td>
              {% endif %}
              {% if perm_volunteers_remove %}
                <td><a href="{% url 'dssgmkt:proj_volunteer_remove' volunteer.task.project.id volunteer.task.id volunteer.id %}">Remove</a></td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:proj_staff' as proj_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=proj_staff_url page_obj=volunteers pagename='volunteers_page' %}
  {% else %}
    <p>No active volunteers in the project.</p>
  {% endif %}


  <h2>Volunteer applications</h2>
  {% if volunteer_applications %}
    <table>
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Project task</th>
            <th>Application date</th>
            <th>Status</th>
            <th>Resolution date</th>
            <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for application in volunteer_applications %}
          <tr>
              <td><a href="{% url 'dssgmkt:user_profile' application.volunteer.id %}">{{ application.volunteer.first_name }} {{ application.volunteer.last_name }}</a></td>
              <td><a href="{% url 'dssgmkt:user_profile' application.volunteer.id %}">{{ application.volunteer.email }}</a></td>
              <td>{{ application.task.name }}</td>
              <td>{{ application.application_date }}</td>
              <td>{{ application.get_status_display }}</td>
              <td>{{ application.resolution_date|default_if_none:"" }}</td>
                <td>
                    <a href="{% url 'dssgmkt:proj_volunteer_application_review' project.id application.task.id application.id %}">Details</a>
                </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:proj_staff' as proj_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=proj_staff_url page_obj=volunteer_applications pagename='applications_page' %}
  {% else %}
    <p>No applications found.</p>
  {% endif %}

{% endblock %}
