{% extends "dssgmkt/proj.html" %}

{% block tabcontents %}
  <p></p>

  {% if user_is_project_member %}
    <form id="addcomment">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit"
              form="addcomment"
              formaction="{% url 'dssgmkt:proj_discussion_add' project.id %}"
              formmethod="post">Add comment</button>
    </form>
  {% endif %}

  {% if project_comments %}
    <ol>
      {% for log in project_comments %}
        <li>({{ log.comment_date }}) {{ log.author }}: {{ log.comment }}
        </li>
      {% endfor %}
    </ol>
    {% url 'dssgmkt:proj_discussion' as proj_discussion_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=proj_discusion_url page_obj=project_comments %}
  {% else %}
    There are no comments in this discussion.
  {% endif %}

{% endblock %}
