{% extends "dssgmkt/proj.html" %}

{% block tabcontents %}

  {% if project_tasks %}
    {% load rules %}
    {% has_perm 'project.task_edit' user project as user_is_task_editor %}

    <ul class="list-group list-group-flush mt-5">
      {% for project_task in project_tasks %}
        <li class="list-group-item">
          <div class="row section-header">
            <div class="col-lg-8">
              <span class="text-muted">{{ project_task.get_type_display }}</span>
              <h4>{{ project_task.name }}</h4>
            </div>

            <div class="col-lg-4">
              <!-- <p>{{ project_task.get_stage_display }}</p> -->
              {% include 'dssgmkt/components/task_status.html' with task=project_task %}
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-lg-8">
              <p>{{ project_task.description }}</p>
              <p>{{ project_task.onboarding_instructions }}</p>
            </div>

            <div class="col-lg-4">
              {% if user_is_task_editor and not project_task.is_completed %}
                <a class="btn btn-success col-lg-12 mb-1"
                   href="{% url 'dssgmkt:proj_task_edit' project.id project_task.id %}">
                  <i class="material-icons" style="vertical-align: middle">edit</i>
                  Edit task info
                </a>
                <a class="btn btn-success col-lg-12 mb-1"
                   href="{% url 'dssgmkt:proj_task_requirements_edit' project.id project_task.id %}">
                  <i class="material-icons" style="vertical-align: middle">donut_small</i>
                  Edit task requirements
                </a>
                <form id="togglevolunteers">
                  {% csrf_token %}
                  <button type="submit"
                          form="togglevolunteers"
                          formaction="{% url 'dssgmkt:proj_task_toggle_volunteers' project.id project_task.id %}"
                          formmethod="post"
                          class="btn btn-success col-lg-12 mb-1">
                    {% if project_task.accepting_volunteers %}
                      <i class="material-icons" style="vertical-align: middle">pause_circle_filled</i>
                      Stop accepting volunteer applications
                    {% else %}
                      <i class="material-icons" style="vertical-align: middle">play_circle_filled</i>
                      Allow volunteers to apply
                    {% endif %}
                  </button>
                </form>
                <a class="btn btn-success col-lg-12 mb-1"
                   href="{% url 'dssgmkt:proj_task_remove' project.id project_task.id %}">
                  <i class="material-icons" style="vertical-align: middle">remove_circle</i>
                  Delete task
                </a>
              {% endif %}
            </div>
          </div>

          <div class="card-deck">
            <div class="card">
              <div class="card-header">Schedule</div>
              <div class="card-body">
                <p>Created on: {{ project_task.creation_date }}</p>
                <p>Last modified: {{ project_task.last_modified_date }}</p>
                <p>Start: {{ project_task.estimated_start_date }} (estimated), {{ project_task.actual_start_date }} (actual)</p>
                <p>End: {{ project_task.estimated_end_date }} (estimated), {{ project_task.actual_end_date }} (actual)</p>
              </div>
            </div>
            <div class="card">
              <div class="card-header">Work details</div>
              <div class="card-body">
                <p>Estimated effort in hours: {{ project_task.estimated_effort_hours }}</p>
                <p>Actual effort spent in hours: {{ project_task.actual_effort_hours }}</p>

                <p>External task home: <a href="{{ project_task.task_home_url }}">{{ project_task.task_home_url }}</a></p>
                <p>External deliverables page: <a href="{{ project_task.task_deliverables_url }}">{{ project_task.task_deliverables_url }}</a></p>
              </div>
            </div>
            <div class="card">
              <div class="card-header">Skill requirements</div>
              <div class="card-body">
                {% for task_requirement in project_task.projecttaskrequirement_set.all %}
                  <p>{{ task_requirement.skill.area }}/{{ task_requirement.skill.name }}:{{ task_requirement.get_level_display }} ({{ task_requirement.get_importance_display }})
                  </p>
                {% endfor %}
              </div>
            </div>
            </div>



          <h5 class="section-header">Task review requests</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Review request date</th>
                <th>Review result</th>
                <th>Resolution date</th>
              </tr>
            </thead>
            <tbody>
              {% for task_review in project_task.projecttaskreview_set.all %}
                <tr>
                  <td>{{ task_review.review_request_date }}</td>

                  <td>
                    <a href="{% url 'dssgmkt:proj_task_review' project.id project_task.id task_review.id %}"
                       class="{% if task_review.is_accepted %}
                                 text-success
                               {% elif task_review.is_rejected %}
                                 text-danger
                               {% elif task_review.is_pending %}
                                 text-info
                               {% endif %}">
                      <i class="material-icons" style="vertical-align: middle">
                        {% if task_review.is_accepted %}
                          check
                        {% elif task_review.is_rejected %}
                          block
                        {% elif task_review.is_pending %}
                          edit
                        {% endif %}
                    </i>
                      {{ task_review.get_review_result_display }}
                    </a>
                  </td>

                  <td>{{ task_review.review_date }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>This project does not have any tasks listed.</p>
  {% endif %}

  {% if user_is_task_editor %}
    <div class="section-header row">
      <div class="col-lg-4 offset-lg-4">
        <form id="addtask">
          {% csrf_token %}
          <button type="submit"
                  form="addtask"
                  formaction="{% url 'dssgmkt:proj_task_add' project.id %}"
                  formmethod="post"
                  class="btn btn-success col-lg-12">
              <i class="material-icons" style="vertical-align: middle">add_circle</i>
              Add new task
          </button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
