{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h2>Volunteer application</h2>
  <p>This person has applied to volunteer in your project.</p>

  <p>Full name:<a href="">{{ volunteerapplication.volunteer.first_name }} {{ volunteerapplication.volunteer.last_name }}</a></p>
  <p>Email addres:<a href="">{{ volunteerapplication.volunteer.email }}</a></p>
  <p>Application date: {{ volunteerapplication.application_date }} </p>
  <p>Task: {{ volunteerapplication.task.name }}</p>
  <h4>Volunteer application letter</h4>
  <p>{{ volunteerapplication.volunteer_application_letter }}</p>

  {% if volunteerapplication.is_new %}
    {% if user_is_project_official %}
      <form id="volunteerapplicationreview">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
                form="volunteerapplicationreview"
                formaction="{% url 'dssgmkt:proj_volunteer_application_review_do' project.id volunteerapplication.task.id volunteerapplication.id 'accept' %}"
                formmethod="post">Accept volunteer application</button>
        <button type="submit"
                form="volunteerapplicationreview"
                formaction="{% url 'dssgmkt:proj_volunteer_application_review_do' project.id volunteerapplication.task.id volunteerapplication.id 'reject' %}"
                formmethod="post">Reject volunteer application</button>

      </form>
    {% endif %}
  {% else %}
    <p>Status: {{ volunteerapplication.get_status_display }}</p>
    <p>Resolution date: {{ volunteerapplication.resolution_date }}</p>
    <p>Reviewer's comments: {{ volunteerapplication.public_reviewer_comments }}</p>
    {% if not user_is_applicant %}
      <p>Private reviewer's notes: {{ volunteerapplication.private_reviewer_notes }}</p>
    {% endif %}
  {% endif %}

{% endblock %}
