{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h2>Project volunteers</h2>
  {% if volunteers %}
    <table>
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Task</th>
            {% if user_is_project_owner %}
            <th>Remove</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for volunteer in volunteers %}
          <tr>
              <td><a href="{% url 'dssgmkt:user_profile' volunteer.user.id %}">{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</a></td>
              <td><a href="{% url 'dssgmkt:user_profile' volunteer.user.id %}">{{ volunteer.user.email }}</a></td>
              <td>{{ volunteer.task.name }}</td>
              {% if user_is_project_owner %}
              <td><a href="{% url 'dssgmkt:proj_volunteer_remove' volunteer.task.project.id volunteer.task.id volunteer.id %}">Remove</a></td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:proj_staff' as proj_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=proj_staff_url page_obj=volunteers pagename='volunteers_page' %}
  {% else %}
    <p>No active volunteers in the project.</p>
  {% endif %}


  <h2>Volunteer applications</h2>
  {% if volunteer_applications %}
    <table>
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Project task</th>
            <th>Application date</th>
            <th>Status</th>
            <th>Resolution date</th>
            <th>Public comments</th>
            <th>Private notes</th>
            {% if user_is_project_owner %}
            <th>Acept/Reject</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for application in volunteer_applications %}
          <tr>
              <td><a href="{% url 'dssgmkt:user_profile' application.volunteer.id %}">{{ application.volunteer.first_name }} {{ application.volunteer.last_name }}</a></td>
              <td><a href="{% url 'dssgmkt:user_profile' application.volunteer.id %}">{{ application.volunteer.email }}</a></td>
              <td>{{ application.task.name }}</td>
              <td>{{ application.application_date }}</td>
              <td>{{ application.get_status_display }}</td>
              <td>{{ application.resolution_date|default_if_none:"" }}</td>
              <td>{{ application.public_reviewer_comments|default_if_none:"" }}</td>
              <td>{{ application.private_reviewer_notes|default_if_none:"" }}</td>
              {% if user_is_project_owner %}
                <td>
                  {% if application.is_new %}
                    <a href="{% url 'dssgmkt:proj_volunteer_application_review' project.id application.task.id application.id %}">Accept/Reject</a>
                  {% endif %}
                </td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:proj_staff' as proj_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=proj_staff_url page_obj=volunteer_applications pagename='applications_page' %}
  {% else %}
    <p>No applications found.</p>
  {% endif %}

{% endblock %}
