{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h4 class="section-header">Remove task requirement</h4>
  <p>Area: {{ task_requirement.skill.area }}</p>
  <p>Name: {{ task_requirement.skill.name }}</p>
  <p>Level: {{ task_requirement.get_level_display }}</p>
  <form id="removerequirement">
    {% csrf_token %}
    {% include 'dssgmkt/components/standard_form_fields.html' %}
    <div class="form-row">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="removerequirement"
                formaction="{% url 'dssgmkt:proj_task_requirements_requirement_remove' project.id project_task.id task_requirement.id %}"
                formmethod="post"
                class="btn btn-danger mr-3">
          <i class="material-icons" style="vertical-align: middle">remove_circle</i>
            Yes, remove this requirement
        </button>
        <a class="btn btn-outline-primary"
           href="{% url 'dssgmkt:proj_task_requirements_edit' project.id project_task.id %}">
          <i class="material-icons" style="vertical-align: middle">close</i>
          No, keep this requirement
        </a>
      </div>
    </div>
  </form>

{% endblock %}
