{% extends "dssgmkt/proj.html" %}

{% block tabcontents %}

  <h2>Task review request</h2>
  <p>{{ project_task.name }}</p>
  <p>Estimated effort in hours: {{ project_task.estimated_effort_hours }}</p>
  <p>Total effort spent (in hours): {{ task_review.volunteer_effort_hours }}</p>
  <p>Volunteer's comments: {{ task_review.volunteer_comment }}</p>

  {% if project_task.task_home_url %}
    <p>External task home: <a href="{{ project_task.task_home_url }}">{{ project_task.task_home_url }}</a></p>
  {% endif %}
  {% if project_task.task_deliverables_url %}
    <p>External deliverables page: <a href="{{ project_task.task_deliverables_url }}">{{ project_task.task_deliverables_url }}</a></p>
  {% endif %}
  <p>Request date: {{ task_review.review_request_date }} </p>
  <p>Request status: {{ task_review.get_review_result_display }}
      {% if task_review.is_pending %} <!-- TODO check permissions of the user -->
        <a href="{% url 'dssgmkt:proj_task_review' project.id project_task.id task_review.id %}">Accept/reject task<a>
      {% endif %}
  </p>
  {% if not task_review.is_new %}
    <p>Resolution date: {{ task_review.review_date }}</p>
  {% endif %}
  {% if task_review.public_reviewer_comments %}
    <p>Reviewer's comments: {{ task_review.public_reviewer_comments }}</p>
  {% endif %}
  {% if task_review.private_reviewer_notes %} <!-- TODO check the permissions of the user -->
    <p>Private reviewer's notes: {{ task_review.private_reviewer_notes }}</p>
  {% endif %}


{% endblock %}
