{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <h2>Staff members</h2>
  {% if project_staff %}
    <table>
      <thead>
        <tr>
            <th>Full name</th>
            <th>Email address</th>
            <th>Role</th>
            {% if user_is_project_owner %}
            <th>Edit</th>
            <th>Remove</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for staff in project_staff %}
          <tr>
              <td><a href="{% url 'dssgmkt:user_profile' staff.user.id %}">{{ staff.user.first_name }} {{ staff.user.last_name }}</a></td>
              <td><a href="{% url 'dssgmkt:user_profile' staff.user.id %}">{{ staff.user.email }}</a></td>
              <td>{{ staff.get_role_display }}</td>
              {% if user_is_project_owner %}
              <td><a href="{% url 'dssgmkt:proj_staff_edit' staff.project.id staff.id %}">Edit</a></td>
              <td><a href="{% url 'dssgmkt:proj_staff_remove' staff.project.id staff.id %}">Remove</a></td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% url 'dssgmkt:proj_staff' as proj_staff_url %}
    {% include 'dssgmkt/components/pagination.html' with baseurl=proj_staff_url page_obj=project_staff pagename='staff_page' %}
  {% else %}
    <p>No staff found.</p>
  {% endif %}

  {% if user_is_project_owner %}
    <h2>Add staff member</h2>
    <form id="addstaff">
      {% csrf_token %}
      {{ add_staff_form.as_p }}
      <button type="submit"
              form="addstaff"
              formaction="{% url 'dssgmkt:proj_staff' project.id %}"
              formmethod="post">
        Add staff member
      </button>
    </form>
  {% endif %}

{% endblock %}
