{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}

  <div class="col-lg-6 offset-lg-3">

    <form id="pwdreset">
      <h2 class="section-header">Forgot your password?</h2>
      <p>If you cannot remember your password, type the email you used to sign up
  		below and we will send you a password reset code.</p>

      {% csrf_token %}
      {% include 'dssgmkt/components/standard_form_fields.html' %}

      <div class="form-row">
        <div class="col-lg-9 offset-lg-3">
          <button type="submit"
                  form="pwdreset"
                  formaction="{% url 'dssgmkt:pwd_reset_request' %}"
                  formmethod="post"
                  class="btn btn-success mr-3">
            <i class="material-icons" style="vertical-align: middle">arrow_forward</i>
            Request password reset link
          </button>
          <a class="btn btn-outline-primary"
             href="{% url 'dssgmkt:login' %}">
            Cancel
          </a>
        </div>
      </div>
    </form>


{% endblock %}
