{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}

<h2>Resources</h2>


<h4>General Resources</h4>
<ul>
  <li><a href="http://dsapp.uchicago.edu/resources/opensource/">Our Open-Source Code and Data</a></li>
  <li><a href="http://dsapp.uchicago.edu/resources/deduplication/">Entity deduplication</a>&nbsp;white paper, sample data, and code</li>
</ul>

<h4>Project-related Resources</h4>
<ul>
  <li><a href="https://dssg.uchicago.edu/2015/11/04/what-makes-a-good-dssg-project/">“What Makes a Good DSSG Project?”</a></li>
  <li><a href="https://dssg.uchicago.edu/2016/10/27/scoping-data-science-for-social-good-projects/">“Scoping Data Science (for Social Good) Projects”</a>&nbsp;blog post and worksheets</li>
  <li><a href="http://dsapp.uchicago.edu/resources/datamaturity/">Data Maturity Framework</a></li>
  <li><a href="http://dsapp.uchicago.edu/resources/legal-agreements/">DSaPP and DSSG Standard Legal Agreements</a></li>
  <li><a href="http://dsapp.uchicago.edu/resources/data-security/">DSaPP and DSSG Data Security</a></li>
  <li><a href="http://dsapp.uchicago.edu/resources/technical-requirements/">DSaPP Technical Requirements</a>
  <ul>
    <li>How to dump your database (if you give us the data)</li>
    <li>What computational resources we need (if you keep the data)</li>
    <li>(Read why you should provide direct access or database dumps&nbsp;<a href="http://dsapp.uchicago.edu/resources/give-us-direct-access-system-database-dump/">here</a>)</li>
  </ul>
</ul>

{% endblock %}
