{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}


  <form id="edituservolunteerprofile">
    <h2>Edit your volunteer profile</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
            form="edituservolunteerprofile"
            formaction="{% url 'dssgmkt:user_volunteer_profile_edit' volunteerprofile.user.id volunteerprofile.id %}"
            formmethod="post">
      Save
    </button>
  </form>
  <a href="{% url 'dssgmkt:user_profile' volunteerprofile.user.id %}">Cancel</a>

{% endblock %}
