{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}


    <div class="row section-header">
      <div class="col-lg-12">
        {% if user == userprofile %}
          <h4>My profile</h4>
        {% else %}
          <h4>{{ userprofile.full_name }} ({{ userprofile.username }})</h4>
        {% endif %}
      </div>
    </div>
    <div class="row mb-5">
      <div class="{% if user == userprofile %}col-lg-8{% else %}col-lg-12{% endif %}">
        {% if userprofile.volunteerprofile %}
          <p>{{ userprofile.volunteerprofile.cover_letter }}</p>
        {% endif %}
      </div>

      {% if user == userprofile %}
        <div class="col-lg-4">
          <a class="btn btn-success col-lg-12 mb-1"
             href="{% url 'dssgmkt:user_profile_edit' userprofile.id %}">
             <i class="material-icons" style="vertical-align: middle">account_circle</i>
            Edit my basic information
          </a>
          <a class="btn btn-success col-lg-12 mb-1"
             href="{% url 'dssgmkt:user_pwd_change' %}">
             <i class="material-icons" style="vertical-align: middle">lock_open</i>
            Change my password
          </a>
          {% if userprofile.volunteerprofile %}
            <a class="btn btn-success col-lg-12 mb-1"
               href="{% url 'dssgmkt:user_volunteer_profile_edit' userprofile.id userprofile.volunteerprofile.id %}">
               <i class="material-icons" style="vertical-align: middle">build</i>
              Edit my volunteer profile
            </a>
            <a class="btn btn-success col-lg-12 mb-1"
               href="{% url 'dssgmkt:user_profile_skills_edit' user.id %}">
               <i class="material-icons" style="vertical-align: middle">donut_small</i>
              Edit my skills
            </a>
          {% else %}
            <form id="addvolunteerprofile">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit"
                      form="addvolunteerprofile"
                      formaction="{% url 'dssgmkt:user_volunteer_profile_create' user.id %}"
                      formmethod="post"
                      class="btn btn-success col-lg-12 mb-1">
                <i class="material-icons" style="vertical-align: middle">person_add</i>
                Create a volunteer profile
              </button>
            </form>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="card-deck section-header">
      <div class="card">
        <div class="card-header">Personal information</div>
        <div class="card-body">
          <p>Full name: {{ userprofile.full_name }}</p>
          <p>User name: {{ userprofile.username }}</p>
          <p>Email address: {{ userprofile.email }}</p>
          <p>Phone number: {{ userprofile.phone_number }}</p>
          <p>Skype name: {{ userprofile.skype_name }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Organization memberships</div>
        <div class="card-body">
          {% if userprofile.organizationrole_set.all %}
            {% for organizationrole in userprofile.organizationrole_set.all %}
                <p><a href="{% url 'dssgmkt:org_info' organizationrole.organization.id %}">{{ organizationrole.organization.name }}</a>
                    ({{ organizationrole.get_role_display }})
                </p>
            {% endfor %}
          {% else %}
              <p>Not a member of any organization.</p>
          {% endif %}
        </div>
      </div>
    </div>

    {% if userprofile.volunteerprofile %}
      <div class="card-deck section-header">
        <div class="card">
          <div class="card-header">Volunteer background</div>
          <div class="card-body">
            {% if userprofile.volunteerprofile.degree_name %}
              <p>Education: {{ userprofile.volunteerprofile.get_degree_level_display }} on {{ userprofile.volunteerprofile.degree_name }} ({{ userprofile.volunteerprofile.university }})</p>
            {% endif %}
            {% if userprofile.volunteerprofile.linkedin_url %}
              <p><a href="{{ userprofile.volunteerprofile.linkedin_url }}">LinkedIn profile</a></p>
            {% endif %}
            {% if userprofile.volunteerprofile.github_url %}
              <p><a href="userprofile.volunteerprofile.github_url">Github profile</a></p>
            {% endif %}
            {% if userprofile.volunteerprofile.portfolio_url %}
              <p><a href="userprofile.volunteerprofile.portfolio_url">Portfolio</a></p>
            {% endif %}
          </div>
        </div>
        <div class="card">
          <div class="card-header">Volunteer availability</div>
          <div class="card-body">
            <p>Start date: {{ userprofile.volunteerprofile.availability_start_date }}</p>
            <p>End date: {{ userprofile.volunteerprofile.availability_end_date }}</p>
            <p>Hours available per week: {{ userprofile.volunteerprofile.weekly_availability_hours }}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Skills</div>
          <div class="card-body">
          {% if userprofile.volunteerskill_set.all %}
            {% for volunteerskill in userprofile.volunteerskill_set.all %}
                <p>{{ volunteerskill.skill.area }}/{{ volunteerskill.skill.name }}: {{ volunteerskill.get_level_display }}</p>
            {% endfor %}
          {% else %}
              <p>No skills listed.</p>
          {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if userprofile.volunteerprofile %}

      <h4 class="section-header">Volunteer projects</h4>
      {% if project_tasks %}
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>Project name</th>
                    <th>Organization name</th>
                    <th>Social impact area</th>
                    <th>Project summary</th>
                    <th>Task name</th>
                    <th>Volunteer role</th>
                    <th>Task status</th>
                </tr>
              </thead>
              <tbody>
                {% for project_task in project_tasks %}
                  <tr>
                      <td><a href="{% url 'dssgmkt:proj_info' project_task.project.id %}">{{ project_task.project.name }}</a></td>
                      <td><a href="{% url 'dssgmkt:org_info' project_task.project.organization.id %}">{{ project_task.project.organization.name }}</a></td>
                      <td>{{ project_task.project.get_project_cause_display }}</td>
                      <td>{{ project_task.project.summary }}</td>
                      <td>{{ project_task.name }}</td>
                      <td>{{ project_task.get_type_display }}</td>
                      <td>{{ project_task.project.get_status_display }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% url 'dssgmkt:user_profile' as user_profile_url %}
            {% include 'dssgmkt/components/pagination.html' with baseurl=user_profile_url page_obj=project_tasks pagename='project_tasks_page' %}
          </div>
        </div>

      {% else %}
          <p>No volunteer work yet.</p>
      {% endif %}

    {% endif %}


{% endblock %}
