{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}
  <div class="row">
    <div class="col-lg-3">
      <form>
        <h4>Filter</h4>
        <label for="username">
          User name
          <input class="form-control" type="text" id="username" name="username" placeholder=""></input></label>
        <label for="skills">
          Skills
          <input class="form-control" type="text" id="skills" name="skills" placeholder=""></input></label>

          <button type="submit"
                  formmethod="get"
                  class="btn btn-success">
            Apply filters
          </button>
      </form>
    </div>
    <div class="col-lg-9">

      {% if leaderboards %}
      <div class="row">
        <div class="card-deck section-header col-lg-12">
          {% for board in leaderboards %}
            <div class="card">
              <div class="card-header">
                {% if board.badge %}
                  {% include 'dssgmkt/components/user_badge.html' with badge=board.badge compact_display=True %}
                {% endif %}
                {{ board.title }}</div>
              <ul class="list-group list-group-flush">
                {% for user in board.data %}
                  <li class="list-group-item">{% include 'dssgmkt/components/user_display.html' with user=user %}</li>
                {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if volunteer_list %}
        <table class="table table-hover section-header">
          <thead>
            <tr>
                <th>User</th>
                <th>username</th>
                <th>Email address</th>
                <th>Member since</th>
            </tr>
          </thead>
          <tbody>
            {% for volunteer in volunteer_list %}
              <tr>
                  <td>{% include 'dssgmkt/components/user_display.html' with user=volunteer.user hide_username=True %}</td>
                  <td><a href="{% url 'dssgmkt:user_profile' volunteer.user.id %}">{{ volunteer.user.username }}</a></td>
                  <td><a href="{% url 'dssgmkt:user_profile' volunteer.user.id %}">{{ volunteer.user.email }}</a></td>
                  <td>{{ volunteer.user.date_joined }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% url 'dssgmkt:volunteer_list' as volunteer_list_url %}
        {% include 'dssgmkt/components/pagination.html' with baseurl=volunteer_list_url %}

      {% else %}
        <p>No volunteers found.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
