{% load static %}

<nav class="navbar navbar-dark footer no-gutters">
  <div class="container">

    <div class="col-12 col-md-8">
      <p>
        <img src="{% static 'img/dssglogo-footer.png' %}" class="img-fluid">
      </p>
      <p class="mb-0">
        &copy;{% now "Y" %} Data Science for Social Good Foundation<br>
        info at solveforgood dot org
      </p>
    </div>

    <div class="col-auto">
      <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" href="{% url 'marketplace:terms' %}">Terms</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'marketplace:privacy' %}">Privacy</a></li>
      </ul>
    </div>

  </div>
</nav>
