{% load rules %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      {% if page_tab == 'info' %}
        <span class="nav-link active">Information</span>
      {% else %}
          <a class="nav-link" href="{% url 'marketplace:proj_info' project.id %}">Information</a>
      {% endif %}
    </li>

    <li class="nav-item">
      {% if page_tab == 'scope' %}
        <span class="nav-link active">Scope</span>
      {% else %}
          <a class="nav-link" href="{% url 'marketplace:proj_scope' project.id %}">Scope</a>
      {% endif %}
    </li>

  <li class="nav-item">
    {% if page_tab == 'discussion' %}
      <span class="nav-link active">Discussion</span>
    {% else %}
      <a class="nav-link" href="{% url 'marketplace:proj_discussion' project.id %}">Discussion</a>
    {% endif %}
  </li>

  {% has_perm 'project.tasks_view' user project as perm_tasks_view %}
  {% if perm_tasks_view %}
    <li class="nav-item">
      {% if page_tab == 'tasklist' %}
        <span class="nav-link active">Tasks</span>
      {% else %}
        <a class="nav-link" href="{% url 'marketplace:proj_task_list' project.id %}">Tasks</a>
      {% endif %}
    </li>
  {% endif %}

  {% has_perm 'project.log_view' user project as perm_log_view %}
  {% if perm_log_view %}
    <li class="nav-item">
      {% if page_tab == 'log' %}
        <span class="nav-link active">Changelog</span>
      {% else %}
        <a class="nav-link" href="{% url 'marketplace:proj_log' project.id %}">Changelog</a>
      {% endif %}
    </li>
  {% endif %}

  {% has_perm 'project.staff_view' user project as perm_staff_view %}
  {% if perm_staff_view %}
    <li class="nav-item">
      {% if page_tab == 'staff' %}
        <span class="nav-link active">Staff</span>
      {% else %}
        <a class="nav-link" href="{% url 'marketplace:proj_staff' project.id %}">Staff</a>
      {% endif %}
    </li>
  {% endif %}

  {% has_perm 'project.volunteers_view' user project as perm_volunteers_view %}
  {% if perm_volunteers_view %}
    <li class="nav-item">
      {% if page_tab == 'volunteers' %}
        <span class="nav-link active">Volunteers</span>
      {% else %}
        <a class="nav-link" href="{% url 'marketplace:proj_volunteers' project.id %}">Volunteers</a>
      {% endif %}
    </li>
  {% endif %}

  {% has_perm 'project.volunteer_instructions_view' user project as perm_volunteer_instructions_view %}
  {% if perm_volunteer_instructions_view %}
    <li class="nav-item">
      {% if page_tab == 'instructions' %}
        <span class="nav-link active">My tasks</span>
      {% else %}
        <a class="nav-link" href="{% url 'marketplace:proj_instructions' project.id %}">My tasks</a>
      {% endif %}
    </li>
  {% endif %}

  {% if project.is_completed %}
    <li class="nav-item">
      {% if page_tab == 'deliverables' %}
        <span class="nav-link nav-dark active">Results</span>
      {% else %}
        <a class="nav-link nav-dark" href="{% url 'marketplace:proj_deliverables' project.id %}">Results</a>
      {% endif %}
    </li>
  {% endif %}
</ul>
