<span>
  {% if project_task.is_not_started %}
    <i class="text-info fas fa-gift"></i>
  {% elif project_task.is_in_progress %}
    <i class="fas fa-tasks"></i>
  {% elif project_task.is_pending_review %}
    <i class="text-warning fas fa-award"></i>
  {% elif project_task.is_completed %}
    <i class="text-success material-icons" style="vertical-align: middle">done_all</i>
  {% elif project_task.is_draft %}
    <i class="text-danger fas fa-drafting-compass"></i>
  {% endif %}
  {% if not compact_display %}
    {{ project_task.get_stage_display }}
  {% endif %}
</span>
