{% load include_redux %}

    <span class="{% if badge.is_tier_basic %}badge-basic{% elif badge.is_tier_advanced %}badge-advanced{% elif badge.is_tier_master %}badge-master{% endif %}"
          title="{% include-stripped 'marketplace/components/user_badge_text.html' %}">
      {% if badge.is_type_work_speed %}
        <i class="fas fa-crown"></i>
      {% elif badge.is_type_early_user %}
        <i class="fas fa-calendar-alt"></i>
      {% elif badge.is_type_review_score %}
        <i class="fas fa-trophy"></i>
      {% elif badge.is_type_project_count %}
        <i class="fas fa-star"></i>
      {% endif %}
      {% if not compact_display %}
        {% include 'marketplace/components/user_badge_text.html' %}
      {% endif %}
    </span>
