{% extends 'marketplace/base.html' %}

{% block pagecontents %}

<h2 class="section-header">What is <span class="text-warning">DSSG Solve</span></h2>
Data Science for Social Good Solve is a platform for social good organizations to pose and describe their problems that need
data intensive help, and for volunteers to help solve those problems. Once the projects are submitted by the organization, they go through a scoping process (done by scoping volunteers and guided by our <a href="https://dsapp.uchicago.edu/home/resources/data-science-project-scoping-guide/">Data Science Scoping Process</a>). Once a project scope is finalized, it becomes available for data science volunteers to start working on. The finished work is reviewed by a QA team consisting of volunteers and staff of the organization that submitted the project≥


<h2 class="section-header">Why did we create it?</h2>
Data Science for Social Good Solve comes out of our experience working with government agencies, non-profits, universities, volunteers, professionals, students, and the private sector over the last several years. We repeatedly get contacted by governments, non profits, and other social good organizations asking for help with data projects. We also have smart, passionate individuals who contact us offering their help, often in a volunteer capacity, on weekends, evenings, or for a few days or weeks. DSSG Solve is our attempt at linking these two. We are just starting out, and looking for help in doing this better, and getting feedback from you.

<h2 class="section-header">How to join us</h2>
You can join us:
<ul>
  <li>as a volunteer to help solve problems.</li>
  <li>as an organization to submit problems.</li>
  <li>as partners to help us expand the platform and provide resources to run it.</li>
  <li>as corporations or foundations to loan volunteers and donate resources used in solving these problems.</li>
</ul>
{% endblock %}
