<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DSSG Solve</title>
  <meta name="description" content="">
  <meta name="author" content="DSSG">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% load static %}
  <link rel="shortcut icon" href="{% static 'img/dssglogo.png' %}" type="image/x-icon">

  {# Our custom Bootswatch Flatly theme #}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

  {# Other generic CSS #}
  <link rel="stylesheet" href="{% static 'css/dssgsolve.css' %}"/>

  {% block extraheaders %}
  {% endblock %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  {% include "marketplace/components/googleanalytics.html" %}
</head>

<body>

  {% include "marketplace/components/navbar.html" %}

  <div class="container main-page-container">

    {% include 'marketplace/components/flash_messages.html' %}

    {% include 'marketplace/components/breadcrumb.html' %}

    {% block pagecontents %}
    {% endblock %}

  </div>

  <div class="container px-0">
    {% include "marketplace/components/footer.html" %}
  </div>

</body>
</html>
