{% extends 'marketplace/base.html' %}

{% block pagecontents %}

  <div class="col-lg-6 offset-lg-3">
    <h2 class="section-header">Log in</h2>

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to the page you requested. To proceed,
           please log in with an account that has access.</p>
      {% else %}
        <p>The page you requested requires that you log in.</p>
      {% endif %}
    {% endif %}

    <p>Log in via one of these providers or enter your username and password below.</p>

    {% include "marketplace/components/login_provider_list.html" %}

    <hr>

    <form id="login">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% csrf_token %}
      {% include 'marketplace/components/standard_form_fields.html' %}

      <div class="form-row">
        <div class="col-lg-9 offset-lg-3">
          <button type="submit"
                  form="login"
                  formaction="{% url 'marketplace:login' %}"
                  formmethod="post"
                  class="btn btn-success mr-3">
            <i class="material-icons" style="vertical-align: middle">arrow_forward</i>
            Log in
          </button>
          <a href="{% url 'marketplace:pwd_reset_request' %}">Forgot your password?</a>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
