{% extends 'dssgmkt/base.html' %}

{% block pagecontents %}

    <div class="row">
      <div class="col-lg-9">
        <h1>{{ organization.name }}</h1>
        <h4>
          <a href="{{ organization.website_url }}">External website</a>
        </h4>
        {% if organization.is_demo %}
        <div class="text-danger">This is a demo organization for instructional purposes only.</div>
        {% endif %}
      </div>
      <div class="col-lg-3">
        {% if organization.logo_file %}
          <img class="img-fluid" src="{{ organization.logo_file.url }}"></img>
        {% elif organization.logo_url %}
          <img class="img-fluid" src="{{ organization.logo_url }}"></img>
        {% endif %}
      </div>

      <div class="col-lg-12 mb-3">
        {% for sc in organization.organizationsocialcause_set.all %}
          <span class="mr-4">{% include 'dssgmkt/components/social_cause_display.html' with object=sc social_cause=sc.get_social_cause_display %}</span>
        {% endfor %}
      </div>
    </div>

    {% include 'dssgmkt/components/organization_tabs.html' %}

    {% block tabcontents %}
    {% endblock %}

{% endblock %}
