{% extends 'marketplace/org.html' %}

{% block tabcontents %}

  <form id="editstaff">
    <h4 class="section-header">Edit staff member</h4>
    <p>User: {% include 'marketplace/components/user_display.html' with user=organizationrole.user %}</p>
    {# <p>Email: {{ organizationrole.user.email }}</p> #}
    {% csrf_token %}
    {% include 'marketplace/components/standard_form_fields.html' %}

    <div class="form-row">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="editstaff"
                formaction="{% url 'marketplace:org_staff_edit' organization.id organizationrole.id %}"
                formmethod="post"
                class="btn btn-success mr-3">
          <i class="material-icons" style="vertical-align: middle">save</i>
          Save
        </button>
        <a class="btn btn-outline-primary" href="{% url 'marketplace:org_staff' organization.id %}">
          <i class="material-icons" style="vertical-align: middle">close</i>
          Cancel
        </a>
      </div>
    </div>
  </form>

{% endblock %}
