{% extends 'dssgmkt/proj.html' %}

{% block tabcontents %}

  <form id="finishproject">
    <h4 class="section-header">Finish project</h4>
    <p>Are you sure you want to finish this project? This will make the project completed and no more volunteering work will be allowed in it.</p>
    {% csrf_token %}
    {% include 'dssgmkt/components/standard_form_fields.html' %}

    <div class="form-row">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="finishproject"
                formaction="{% url 'marketplace:proj_finish' project.id %}"
                formmethod="post"
                class="btn btn-success mr-3">
          <i class="material-icons" style="vertical-align: middle">done_all</i>
          Yes, finish this project
        </button>
        <a class="btn btn-outline-primary" href="{% url 'marketplace:proj_info' project.id %}">
          <i class="material-icons" style="vertical-align: middle">close</i>
          No, keep this project in QA
        </a>
      </div>
    </div>
  </form>

{% endblock %}
