{% extends 'marketplace/proj.html' %}

{% block tabcontents %}
  {% if not project.is_waiting_review_status %}
  <div class="section-header-primary alert alert-warning px-3" role="alert">
    <i class="fas fa-exclamation-circle"></i>
    This project is <em>not</em> in the final QA stage, and it is still considered <strong>in progress</strong>.
  </div>
  {% endif %}

  <form id="finishproject">
    <h4 class="section-header">Finish project</h4>

    <p>Are you sure you want to finish this project?</p>
    <p>This will make the project completed and no more volunteering work will be allowed in it.</p>

    {% csrf_token %}
    {% include 'marketplace/components/standard_form_fields.html' %}

    <button type="submit"
            form="finishproject"
            formaction="{% url 'marketplace:proj_finish' project.id %}"
            formmethod="post"
            class="btn btn-success mr-2">
      <i class="material-icons" style="vertical-align: middle">done_all</i>
      Yes, finish this project
    </button>
    <a class="btn btn-outline-primary" href="{% url 'marketplace:proj_info' project.id %}">
      <i class="material-icons" style="vertical-align: middle">close</i>
      {% if project.is_waiting_review_status %}
      No, keep this project in QA
      {% else %}
      No, keep this project in progress
      {% endif %}
    </a>
  </form>
{% endblock %}
