{% extends "marketplace/proj.html" %}

{% load markdown_deux_tags %}

{% block tabcontents %}
  <div class="col-lg-5">
    <h4 class="section-header">Project results</h4>

    {% if project.is_completed %}
      {% if project.deliverables_description %}
        {{ project.deliverables_description|markdown }}
      {% else %}
        <p>This project has been completed.</p>
        <p>Below you can find links to all the public results, documentation, data, code, <em>etc.</em> that has been generated as part of the project.</p>
      {% endif %}

      <div class="list-group list-group-flush">
        {% include 'marketplace/components/proj_task_deliverables_list.html' with project=project %}
      </div>
    {% else %}
      <p>This project is still in progress, so no public deliverables are available.</p>
    {% endif %}
  </div>
{% endblock %}
