{% extends 'marketplace/proj.html' %}

{% block tabcontents %}

  <form id="edittaskvolunteer">
    <h4 class="section-header">Edit task volunteer</h2>
    <p>User: {% include 'marketplace/components/user_display.html' with user=projecttaskrole.user %}</p>
    {% csrf_token %}
    {% include 'marketplace/components/standard_form_fields.html' %}

    <div class="form-row">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="edittaskvolunteer"
                formaction="{% url 'marketplace:proj_volunteer_edit' projecttaskrole.task.project.id projecttaskrole.task.id projecttaskrole.id %}"
                formmethod="post"
                class="btn btn-success mr-3">
          <i class="material-icons" style="vertical-align: middle">save</i>
          Save
        </button>
        <a class="btn btn-outline-primary" href="{% url 'marketplace:proj_volunteers' project.id %}">
          <i class="material-icons" style="vertical-align: middle">close</i>
          Cancel
        </a>
      </div>
    </div>
  </form>

{% endblock %}
