{% extends "marketplace/proj.html" %}

{% block tabcontents %}

  {% load rules %}
  {% load markdown_deux_tags %}

  <div class="row section-header">
    <div class="col-lg-8">
      <h4>Project scope {% if not showing_current_scope %} (as of {{ current_scope.creation_date }}){% endif %}</h4>
    </div>

    <div class="col-lg-4">
      {% has_perm 'project.scope_edit' user project as perm_scope_edit %}
      {% if current_scope and showing_current_scope and perm_scope_edit and not project.is_completed_status and not project.is_expired_status %}
        <a class="btn btn-success col-lg-12 mb-1"
           href="{% url 'marketplace:proj_scope_edit' project.id current_scope.id %}">
          <i class="material-icons" style="vertical-align: middle">edit</i>
          Edit project scope
        </a>
      {% endif %}
    </div>
  </div>


  {% if current_scope.scope_goals %}
    <h5 class="section-header">Project goal(s)</h5>
    {{ current_scope.scope_goals|markdown }}
  {% endif %}

  {% if current_scope.scope_interventions %}
    <h5 class="section-header">Interventions and Actions</h5>
    {{ current_scope.scope_interventions|markdown }}
  {% endif %}

  {% if current_scope.scope_available_data %}
    <h5 class="section-header">Data</h5>
    {{ current_scope.scope_available_data|markdown }}
  {% endif %}

  {% if current_scope.scope_analysis %}
    <h5 class="section-header">Analysis Needed</h5>
    {{ current_scope.scope_analysis|markdown }}
  {% endif %}

  {% if current_scope.scope_validation_methodology %}
    <h5 class="section-header">Validation Methodology</h5>
    {{ current_scope.scope_validation_methodology|markdown }}
  {% endif %}
  
  {% if current_scope.scope_implementation %}
    <h5 class="section-header">Implementation</h5>
    {{ current_scope.scope_implementation|markdown }}
  {% endif %}

  <h4 class="section-header">Scope version notes</h4>
  <ul class="list-group list-group-flush mb-3">
    {% for scope in project_scopes %}
      <li class="list-group-item {% if current_scope and scope.creation_date > current_scope.creation_date %}bg-light{% endif %}">
        <div class="row">
          <div class="col-lg-3">
            <div class="text-right"><a href="{% url 'marketplace:user_profile' scope.author.id %}">{{ scope.author }}</a></div>
            <div class="text-right text-muted">{{ scope.creation_date }}</div>
          </div>
          <div class="col-lg-1">
            {% if scope != current_scope %}
              <a href="{% url 'marketplace:proj_scope_previous' project.id scope.id %}">View</a>
            {% else %}
              Showing
            {% endif %}
          </div>
          <div class="col-lg-8">
            {{ scope.version_notes|markdown }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  {% url 'marketplace:proj_scope' as proj_scope_url %}
  {% include 'marketplace/components/pagination.html' with baseurl=proj_scope_url page_obj=project_scopes %}

{% endblock %}
