{% extends 'marketplace/base.html' %}

{% block pagecontents %}
  <div class="row">
    <div class="col-lg-3">
      <form id="projlist">
        {% csrf_token %}
        <h4>Filter results</h4>
        <label for="projname" class="col-lg-12 pl-0 pr-0">
          Project name
          <input class="form-control" type="text" id="projname" name="projname" placeholder="" value="{{ filter_projname }}"></input></label>
        <label for="orgname" class="col-lg-12 pl-0 pr-0">
          Organization name
          <input class="form-control" type="text" id="orgname" name="orgname" placeholder="" value="{{ filter_orgname }}"></input></label>
        <label for="skills" class="col-lg-12 pl-0 pr-0">
          Skill requirements
          <input class="form-control" type="text" id="skills" name="skills" placeholder="" value="{{ filter_skills }}"></input></label>

        <fieldset class="mt-3" name="socialcause">
          <legend>Social impact area</legend>
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='education' field_text='Education' is_checked=checked_social_cause_fields.education %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='health' field_text='Health' is_checked=checked_social_cause_fields.health %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='environment' field_text='Environment' is_checked=checked_social_cause_fields.environment %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='socialservices' field_text='Social Services' is_checked=checked_social_cause_fields.socialservices %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='transportation' field_text='Transportation' is_checked=checked_social_cause_fields.transportation %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='energy' field_text='Energy and Environment' is_checked=checked_social_cause_fields.energy %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='internationaldev' field_text='International Development' is_checked=checked_social_cause_fields.internationaldev %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='publicsafety' field_text='Public Safety' is_checked=checked_social_cause_fields.publicsafety %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='economicdev' field_text='Economic Development' is_checked=checked_social_cause_fields.economicdev %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='socialcause' field_value='other' field_text='Other' is_checked=checked_social_cause_fields.other %}
        </fieldset>

        <fieldset class="mt-3" name="status">
          <legend>Project status</legend>
          {% include 'marketplace/components/filter_checkbox.html' with field_name='projectstatus' field_value='new' field_text='New' is_checked=checked_project_fields.new %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='projectstatus' field_value='in_progress' field_text='In progress' is_checked=checked_project_fields.in_progress %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='projectstatus' field_value='completed' field_text='Completed' is_checked=checked_project_fields.completed %}
        </fieldset>
        <button type="submit"
                form="projlist"
                formmethod="post"
                formaction="{% url 'marketplace:proj_list' %}"
                class="btn btn-success col-lg-12 mt-3">
          <i class="material-icons" style="vertical-align: middle">filter_list</i>
          Apply filters
        </button>
        <a class="btn btn-outline-primary col-lg-12 mt-3"
           href="{% url 'marketplace:proj_list' %}">
           <i class="material-icons" style="vertical-align: middle">close</i>
           Clear filters
        </a>
      </form>
    </div>
    <div class="col-lg-9">

      {% if proj_list %}
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                  <th>Project name</th>
                  <th>Organization name</th>
                  <th>Summary</th>
                  <th>Status</th>
                  <th>Social impact areas</th>
              </tr>
            </thead>
            <tbody>
              {% for project in proj_list %}
                <tr>
                    <td><a href="{% url 'marketplace:proj_info' project.id %}">{{ project.name }}</a></td>
                    <td><a href="{% url 'marketplace:org_info' project.organization.id %}">{{ project.organization.name }}</a></td>
                    <td>{{ project.short_summary }}</td>
                    <td>
                      {% include 'marketplace/components/project_status_display.html' %}
                    </td>
                    <td>
                      {% for sc in project.projectsocialcause_set.all %}
                        {% include 'marketplace/components/social_cause_display.html' with object=sc social_cause=sc.get_social_cause_display %} <br/>
                      {% endfor %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% url 'marketplace:proj_list' as proj_list_url %}
        {% include 'marketplace/components/pagination.html' with baseurl=proj_list_url page_obj=proj_list %}

      {% else %}
        <p>No projects found.</p>
      {% endif %}

      {% if user_is_any_organization_member %}
        {% if single_org_membership %}
          <a class="btn btn-success col-lg-6 offset-lg-3 mt-5 mb-1" role="button" href="{% url 'marketplace:proj_create' single_org_membership.id %}">
            <i class="material-icons" style="vertical-align: middle">business_center</i>
            Create a new project
          </a>
        {% elif organization_memberships %}
          <a class="btn btn-success col-lg-6 offset-lg-3 mt-5 mb-1" role="button" href="{% url 'marketplace:proj_create_org_select' %}">
            <i class="material-icons" style="vertical-align: middle">business_center</i>
            Create a new project
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}
