{% extends 'marketplace/proj.html' %}

{% block tabcontents %}
  {% load markdown_deux_tags %}

  <h4 class="section-header">Volunteer application</h4>
  <p>This person has applied to volunteer in your project.</p>

  <p>User:{% include 'marketplace/components/user_display.html' with user=volunteerapplication.volunteer %}</p>
  {# <p>Email addres:<a href="">{{ volunteerapplication.volunteer.email }}</a></p> #}
  <p>Application date: {{ volunteerapplication.application_date }} </p>
  <p>Task: {{ volunteerapplication.task.name }}</p>
  <h4>Volunteer application letter</h4>
  <p>{{ volunteerapplication.volunteer_application_letter|markdown }}</p>

  {% if volunteerapplication.is_new %}

    {% load rules %}
    {% has_perm 'project.volunteers_application_review' user project as user_is_project_official %}

    {% if user_is_project_official %}
      <div class="row">
        <div class="col-lg-12">
          <form id="volunteerapplicationreview">
            {% csrf_token %}

            {% include 'marketplace/components/standard_form_fields.html' %}

            <div class="form-row">
              <div class="col-lg-9 offset-lg-3">
                <button type="submit"
                        form="volunteerapplicationreview"
                        formaction="{% url 'marketplace:proj_volunteer_application_review_do' project.id volunteerapplication.task.id volunteerapplication.id 'accept' %}"
                        formmethod="post"
                        class="btn btn-success mr-3">
                  <i class="material-icons" style="vertical-align: middle">check</i>
                  Accept volunteer application
                </button>
                <button type="submit"
                        form="volunteerapplicationreview"
                        formaction="{% url 'marketplace:proj_volunteer_application_review_do' project.id volunteerapplication.task.id volunteerapplication.id 'reject' %}"
                        formmethod="post"
                        class="btn btn-danger mr-3">
                  <i class="material-icons" style="vertical-align: middle">block</i>
                  Reject volunteer application
                </button>
                <a class="btn btn-outline-primary" href="{% url 'marketplace:proj_volunteers' project.id %}">
                  <i class="material-icons" style="vertical-align: middle">close</i>
                  Cancel
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  {% else %}
    <p>Status:
              <span
                 class="{% if volunteerapplication.is_accepted %}
                           text-success
                         {% elif volunteerapplication.is_rejected %}
                           text-danger
                         {% elif volunteerapplication.is_new %}
                           text-info
                         {% endif %}">
                <i class="material-icons" style="vertical-align: middle">
                  {% if volunteerapplication.is_accepted %}
                    check
                  {% elif volunteerapplication.is_rejected %}
                    block
                  {% elif volunteerapplication.is_new %}
                    edit
                  {% endif %}
                </i>
                {{ volunteerapplication.get_status_display }}
              </span>
    </p>
    <p>Resolution date: {{ volunteerapplication.resolution_date }}</p>
    <p>Reviewer: {% include 'marketplace/components/user_display.html' with user=volunteerapplication.reviewer %}</p>
    <p>Reviewer's comments: {{ volunteerapplication.public_reviewer_comments|markdown }}</p>
    {% if not user_is_applicant %}
      <p>Private reviewer's notes: {{ volunteerapplication.private_reviewer_notes|markdown }}</p>
    {% endif %}
  {% endif %}

{% endblock %}
