{% extends "marketplace/proj_volunteer_task_base.html" %}

{% block taskcontents %}

  {% if project_task %}
    <h4 class="section-header">Mark work as done</h4>

    <p>Task: <a href="{% url 'marketplace:proj_instructions' project.id %}">{{ project_task.name }}</a></p>

    <div class="row">
      <div class="col-md-4">
        <div class="d-flex align-items-center h-100">
          <p class="align-self-center"><i class="fas fa-check-double fa-lg pr-3"></i></p>
          <p>Remember to put all the results of your work into the appropriate documents and/or repositories
             designated for this task.</p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="list-group list-group-flush">
          {% include 'marketplace/components/proj_task_deliverables_list.html' with project=project task=project_task %}
        </div>
       </div>
    </div>

    <hr class="mt-3 mb-4">

    <form id="completetask">
      {% csrf_token %}

      {% include 'marketplace/components/standard_form_fields.html' %}

      <div class="form-row">
        <div class="col-lg-9 offset-lg-3">
          <button type="submit"
                  form="completetask"
                  formaction="{% url 'marketplace:proj_task_finish' project.id project_task.id %}"
                  formmethod="post"
                  class="btn btn-success mr-3">
            <i class="material-icons" style="vertical-align: middle">check</i>
            Mark work as done
          </button>

          <a class="btn btn-outline-primary" href="{% url 'marketplace:proj_instructions_task' project.id project_task.id %}">
            <i class="material-icons" style="vertical-align: middle">close</i>
            Cancel
          </a>
        </div>
      </div>
    </form>
  {% else %}
    <p>You don't have any active task in this project.</p>
  {% endif %}
{% endblock %}
