{% extends 'marketplace/base.html' %}

{% load static %}

{% block pagecontents %}

<h2>Resources</h2>

<!--
<h3>General Resources</h3>
<ul>
  <li><a href="http://www.datasciencepublicpolicy.org/resources/opensource/" target="_blank">Our Open-Source Code and Data</a></li>
  <li><a href="http://www.datasciencepublicpolicy.org/resources/deduplication/" target="_blank">Entity deduplication</a>&nbsp;white paper, sample data, and code</li>
</ul>

<h4>Project-related Resources</h4>
<ul>
  <li><a href="https://www.dssgfellowship.org/2015/11/04/what-makes-a-good-dssg-project/" target="_blank">“What Makes a Good DSSG Project?”</a></li>
  <li><a href="https://www.dssgfellowship.org/2016/10/27/scoping-data-science-for-social-good-projects/" target="_blank">“Scoping Data Science (for Social Good) Projects”</a>&nbsp;blog post and worksheets</li>
  <li><a href="http://www.datasciencepublicpolicy.org/resources/datamaturity/" target="_blank">Data Maturity Framework</a></li>
  <li><a href="http://www.datasciencepublicpolicy.org/resources/legal-agreements/" target="_blank">DSaPP and DSSG Standard Legal Agreements</a></li>
  <li><a href="http://www.datasciencepublicpolicy.org/resources/data-security/" target="_blank">DSaPP and DSSG Data Security</a></li>
  <li><a href="http://www.datasciencepublicpolicy.org/resources/technical-requirements/" target="_blank">DSaPP Technical Requirements</a>
  <ul>
    <li>How to dump your database (if you give us the data)</li>
    <li>What computational resources we need (if you keep the data)</li>
    <li>(Read why you should provide direct access or database dumps&nbsp;<a href="http://www.datasciencepublicpolicy.org/resources/give-us-direct-access-system-database-dump/" target="_blank">here</a>)</li>
  </ul>
</ul> -->

<p>We're adding resources here that both volunteers and organizations posting projects will find useful. If you think a particular resource would be helpful to list here, please let us know.</p>

<p>* Coming soon!</p>

<h3 class="section-header">Project Resources</h3>
<div class="card-deck section-header">
  <div class="card">
    <div class="card-header">Posting new projects</div>
    <div class="card-body">
        <div><a href="https://www.dssgfellowship.org/2015/11/04/what-makes-a-good-dssg-project/" target="_blank">What makes a good project</a></div>
        <div><a href="http://www.datasciencepublicpolicy.org/home/resources/data-science-project-scoping-guide/" target="_blank">Scoping a project</a></div>
        <div><a href="http://www.datasciencepublicpolicy.org/home/resources/datamaturity/" target="_blank">Do you have the right data?</a></div>
        <div><a href="https://www.dssgfellowship.org/projects" target="_blank">Sample Projects</a></div>
		<div><a href="http://www.datasciencepublicpolicy.org/home/resources/data-science-project-scoping-guide/" target="_blank">Ethical Considerations for Project Scoping</a></div>
        <div><a href="{% static 'pdf/resources/org_signup_instructions_july2020.pdf' %}" target="_blank">How to create an organization profile and post a project to Solve</a></div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Staffing projects</div>
    <div class="card-body">
      <div>Listing task requirements*</div>
      <div>Attracting qualified volunteers*</div>
      <div>Tips for giving feedback*</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Managing projects</div>
    <div class="card-body">
        <div><a href="{% static 'pdf/resources/lifecycles_of_a_data_science_project_rodolfa_unanue_gee_ghani.pdf' %}" target="_blank">The Lifecycle of a Data Science Project</a></div>

      <div>Task status and reviews*</div>
      <div>Managing staff and volunteers*</div>
      <div>Quality Assurance reviews*</div>
    </div>
  </div>
</div>


<h3 class="section-header">Volunteer Resources</h3>

<div class="card-deck section-header">
  <div class="card">
    <div class="card-header">Profile how-to</div>
    <div class="card-body">
        {% comment %}
        If we wanted to *embed* such PDFs, we might use pdf.js (or just PDFObject).

        However, `target=_blank` seems most appropriate for this sort of PDF.

        A better solution might ultimately be proper help pages rendered by site-internal templates.
        {% endcomment %}
        <div><a href="{% static 'pdf/resources/volunteer_signup_instructions_july2020.pdf' %}" target="_blank">How to create a volunteer profile on Solve</a></div>

        <div>Introducing yourself*</div>
        <div>Listing your experience*</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Finding good projects</div>
    <div class="card-body">
      <div>Experience and skills fit*</div>
      <div>Applying to projects*</div>
      <div>Tips for giving feedback*</div>
    </div>
  </div>
    <div class="card">
      <div class="card-header">Working on projects</div>
      <div class="card-body">
        <div><a href="https://github.com/dssg/hitchhikers-guide" target="_blank">Useful tutorials from Hitchikers guide to Data Science for Social Good</a></div>
        <div><a href="https://github.com/dssg/" target="_blank">Useful github repositories</a></div>
		<div><a href="https://textbook.coleridgeinitiative.org/chap-bias.html" target="_blank">An Introduction to Bias and Fairness in Machine Learning</a></div>
        <div><a href="http://www.datasciencepublicpolicy.org/projects/aequitas/" target="_blank">Audit your models for Bias and Fairness</a></div>
        <div><a href="https://www.dssgfellowship.org/2015/09/18/an-ethical-checklist-for-data-science/" target="_blank">An Ethical Checklist for Data Science Projects</a></div>
        <div><a href="https://github.com/DSSG-EUROPE/dssg-europe-syllabus" target="_blank">A Learning Supplement to the DSSG Hitchhiker's Guide</a></div>
        <div><a href="https://github.com/dssg/triage" target="_blank">Triage, The Risk Modeling and Prediction Toolkit for Policy and Social Good Problems</a></div>
        <div><a href="https://github.com/DSSG-EUROPE/aws_setup" target="_blank">Setting up AWS for data science projects</a></div>
        <div><a href="https://github.com/dssg/mlforpublicpolicylab" target="_blank">Machine Learning for Public Policy</a></div>

        <div>Expectations and deadlines*</div>
      </div>
    </div>
  </div>

<h3 class="section-header">Frequently Asked Questions</h3>

<p>Coming soon!</p>

{% endblock %}
