{% extends 'marketplace/base.html' %}

{% block pagecontents %}

  <div class="col-lg-12">
    <h4 class="section-header">What type of account do you want to create?</h4>

    <p>Select the option below that fits your role the best:</p>

    <div class="row mt-4">
     <div class="card-deck main-cards col-lg-12">
      <div class="card d-flex">
       <div class="card-header"><h4 class="mb-0">Social Good Organization member</h4></div>
       <ul class="list-group list-group-flush flex-grow-1 d-flex">
         <li class="list-group-item flex-grow-1">
            Social Good Organization members can:
            <ul>
            <li> post new projects
            <li> manage existing projects
            <li>manage volunteers, and
            <li>perform reviews on their project tasks
            </ul>
            <p><p>After signing up, you will be able to join an existing organization and/or create your own.</p></p>
            <p><p>Don't worry, you can still volunteer if you join the site as an organization member.</p></p>
          </li>
          <a class="list-group-item list-group-item-action bg-success text-white" href="{% url 'marketplace:signup_form' 'organization' %}">
           Sign up as an organization member
          </a>
        </ul>
      </div>
      <div class="card d-flex">
       <div class="card-header"><h4 class="mb-0">Volunteer</h4></div>
       <ul class="list-group list-group-flush flex-grow-1">
         <li class="list-group-item flex-grow-1">
           Volunteers can work on existing projects through applying for tasks that are open on a project.
           After signing up, edit your volunteer profile and add your skills so you can be
           matched to project tasks that match your expertise.
           <p>We need volunteers in four roles (check the roles that interest you):</p>
            <form id="preferences">
              <ul>
                {% include 'marketplace/components/task_preference_inputs.html' %}
              </ul>
              <p>Don't worry, you can still join social good organizations and submit projects later if you want.</p>
            </form>
          </li>
           <button
              type="submit"
              form="preferences"
              formaction="{% url 'marketplace:signup_form' 'volunteer' %}"
              formmethod="get"
              class="list-group-item list-group-item-action bg-success text-white">
             Sign up as a volunteer
           </button>
        </ul>
      </div>
     </div>
    </div>

    <div class="section-header">
      <a class="btn btn-outline-primary" href="{% url 'marketplace:home' %}">
        <i class="material-icons" style="vertical-align: middle">close</i>
        Cancel
      </a>
    </div>
  </div>

{% endblock %}
