{% extends 'marketplace/base.html' %}

{% block pagecontents %}

      {% if leaderboards %}
      <div class="row">
        <div class="card-deck section-header col-lg-12">
          {% for board in leaderboards %}
            <div class="card">
              <div class="card-header">
                {% if board.badge %}
                  {% include 'marketplace/components/user_badge.html' with badge=board.badge compact_display=True %}
                {% endif %}
                {{ board.title }}</div>
              <div class="card-body">
                {% for user in board.data %}
                  <div>{% include 'marketplace/components/user_display.html' with user=user %}</div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

  <div class="row section-header">
    <div class="col-lg-3 mt-4">
      <form id="volunteerlist">
        {% csrf_token %}
        <h4>Filter</h4>
        <label for="username" class="col-lg-12 pl-0 pr-0">
          User name
          <input class="form-control" type="text" id="username" name="username" placeholder="" value="{{ filter_username }}"></input></label>
        <label for="skills" class="col-lg-12 pl-0 pr-0">
          Skills
          <input class="form-control" type="text" id="skills" name="skills" placeholder="" value="{{ filter_skills }}"></input></label>

        <fieldset name="badges">
          <legend>Awards</legend>
          {% include 'marketplace/components/filter_checkbox.html' with field_name='awards' field_value='review_score' field_text='Great reviews' is_checked=checked_awards_fields.review_score %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='awards' field_value='number_of_projects' field_text='Number of tasks completed' is_checked=checked_awards_fields.number_of_projects %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='awards' field_value='fast_work' field_text='Meets deadlines' is_checked=checked_awards_fields.fast_work %}
          {% include 'marketplace/components/filter_checkbox.html' with field_name='awards' field_value='early_user' field_text='Early user' is_checked=checked_awards_fields.early_user %}
        </fieldset>

        <button type="submit"
                form="volunteerlist"
                formmethod="post"
                formaction="{% url 'marketplace:volunteer_list' %}"
                class="btn btn-success col-lg-12 mt-3">
          <i class="material-icons" style="vertical-align: middle">filter_list</i>
          Apply filters
        </button>
        <a class="btn btn-outline-primary col-lg-12 mt-3"
           href="{% url 'marketplace:volunteer_list' %}">
           <i class="material-icons" style="vertical-align: middle">close</i>
           Clear filters
        </a>
      </form>
    </div>
    <div class="col-lg-9">


      {% if volunteer_list %}
        <div class="table-responsive">
          <table class="table table-hover section-header">
            <thead>
              <tr>
                  <th>User</th>
                  {# <th>Email address</th> #}
                  <th>Member since</th>
              </tr>
            </thead>
            <tbody>
              {% for volunteer in volunteer_list %}
                <tr>
                    <td>{% include 'marketplace/components/user_display.html' with user=volunteer.user hide_username=True %}</td>
                    {# <td><a href="{% url 'marketplace:user_profile' volunteer.user.id %}">{{ volunteer.user.email }}</a></td> #}
                    <td>{{ volunteer.user.date_joined }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% url 'marketplace:volunteer_list' as volunteer_list_url %}
        {% include 'marketplace/components/pagination.html' with baseurl=volunteer_list_url page_obj=volunteer_list %}

      {% else %}
        <p>No volunteers found.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
