{% extends 'dssgmkt/org.html' %}

{% block tabcontents %}
  <div class="row">
    <form id="orgmembershiprequest" class="form col-lg-6 offset-lg-3">
    <h4 class="section-header">Join organization</h4>
    <p>Are you part of this organization? Send a membership request so
    the administrators can add you to the organization's staff.</p>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-row">
        <button type="submit"
                form="orgmembershiprequest"
                formaction="{% url 'dssgmkt:org_staff_request' organization.id %}"
                formmethod="post"
                class="btn btn-success mr-3">
            <i class="material-icons" style="vertical-align: middle">person_add</i>
            Request organization membership
        </button>
        <a class="btn btn-outline-primary" href="{% url 'dssgmkt:org_info' organization.id %}">
          <i class="material-icons" style="vertical-align: middle">close</i>
          Cancel
        </a>
      </div>
    </form>
  </div>
{% endblock %}
