{% extends "dssgmkt/base.html" %}

{% block pagecontents %}


    <h4 class="section-header">Create new organization</h4>


    <p>Create a new organization to post new projects that need help from volunters.</p>

    <form id="createorganization" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'dssgmkt/components/standard_form_fields.html' %}
      {% include 'dssgmkt/components/social_cause_edit_row.html' with label_text='Choose the social causes this organization works towards.' %}

      <div class="form-row">
        <div class="col-lg-9 offset-lg-3">
          <button type="submit"
                  form="createorganization"
                  formaction="{% url 'marketplace:org_create' %}"
                  formmethod="post"
                  class="btn btn-success mr-3">
            <i class="material-icons" style="vertical-align: middle">check</i>
            Create organization
          </button>
          <a class="btn btn-outline-primary" href="{% url 'marketplace:org_list' %}">
            <i class="material-icons" style="vertical-align: middle">close</i>
            Cancel
          </a>
        </div>
      </div>
    </form>


{% endblock %}
