{% extends 'dssgmkt/org.html' %}

{% block tabcontents %}

  <div>
    <form id="leaveorg">
    <h4 class="section-header">Leave organization</h4>
    <p>Are you sure you want to leave this organization?</p>
      {% csrf_token %}
      {% include 'dssgmkt/components/standard_form_fields.html' %}

      <div class="form-row">
        <div class="col-lg-9 offset-lg-3">
          <button type="submit"
                  form="leaveorg"
                  formaction="{% url 'marketplace:org_staff_leave' organization.id %}"
                  formmethod="post"
                  class="btn btn-danger mr-3">
            <i class="material-icons" style="vertical-align: middle">meeting_room</i>
            Yes, leave organization
          </button>
          <a class="btn btn-outline-primary" href="{% url 'marketplace:org_info' organization.id %}">
            <i class="material-icons" style="vertical-align: middle">close</i>
            No, stay in the organization
          </a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
