{% extends 'dssgmkt/proj_task_base.html' %}

{% block taskcontents %}

  <form id="publishtask">
    <h4 class="section-header">Publish task</h4>
    <p>Are you sure you want to publish this task? This will make the task public so it will appear in the front page of the project.</p>
    {% csrf_token %}
    {% include 'dssgmkt/components/standard_form_fields.html' %}

    <div class="form-row">
      <div class="col-lg-9 offset-lg-3">
        <button type="submit"
                form="publishtask"
                formaction="{% url 'dssgmkt:proj_task_publish' project.id project_task.id %}"
                formmethod="post"
                class="btn btn-success mr-3">
          <i class="material-icons" style="vertical-align: middle">publish</i>
          Yes, publish this task
        </button>
        <a class="btn btn-outline-primary" href="{% url 'dssgmkt:proj_task' project.id project_task.id %}">
          <i class="material-icons" style="vertical-align: middle">close</i>
          No, keep this task as a draft
        </a>
      </div>
    </div>
  </form>

{% endblock %}
