{% extends 'marketplace/base.html' %}

{% block pagecontents %}

  <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="section-header">
                <h1>
                    Oops!</h1>
                <h2>

                     You don't have permission to access this page.</h2>
                <div class="section-header">
                  403 Forbidden
                </div>
                <div class="section-header">
                    <a href="{% url 'marketplace:home' %}"
                       class="btn btn-success btn-lg">
                        It's ok, take me home
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
